
@{
    ViewBag.Title = "Flujo Captura Tarjeta TAM";
}
<link href="~/Assets/tam/deps/vue-form-wizard.min.css" rel="stylesheet">
<link href="~/Assets/plugins/bootstrap-validator/bootstrapValidator.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/vue-select@latest/dist/vue-select.css">
<style>
    .msg-part {
        font-weight: bold;
    }

    input.datepicker {
        height: 34px;
    }

    li {
        text-align: left;
    }
</style>
<div id="bdy_busqueda_tam"></div>
<div id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <div class="form-group"></div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" id="txtRutComercial" placeholder="Buscar Afiliado Credito" maxlength="10">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit" id="bTam3" style="padding-bottom:5px;"><i class="ion-search"></i></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="page-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="tab-base">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#tab-index-tam" aria-expanded="true" id="tab_index_tam" class="tab-principal">Ingreso</a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#tab-busqueda-tam" aria-expanded="false" id="tab_busqueda_tam" class="tab-principal">Búsqueda</a>
                    </li>
                </ul>

                <div class="tab-content">

                    <div id="tab-index-tam" class="tab-pane fade active in">
                        <div class="panel-body">
                            <div id="app-tam">
                                <div>
                                    <form-wizard v-on:on-complete="validateFourthStep"
                                                 shape="circle"
                                                 color="#3498db"
                                                 back-button-text="Atrás"
                                                 next-button-text="Siguiente"
                                                 finish-button-text="Finalizar">
                                        <tab-content :before-change="validateFirstStep" title="Buscar Afiliado"
                                                     icon="ion-person-stalker">
                                            <div class="panel">
                                                <div class="panel-heading">
                                                    <div class="row">
                                                        <div class="col-sm-8">
                                                            <div class="form-group">
                                                                <h4 class="panel-title">Buscar Afiliado </h4>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">

                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="alert alert-danger">{{ config.scripts ? config.scripts.GRABACION : '' }}</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="control-label">Rut</label>
                                                                <the-mask :mask="['#.###.###-X', '##.###.###-X']" type="text" class="form-control" v-model="model.rut" tabindex="1" />
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="control-label">Fecha de Nacimiento</label>
                                                                <the-mask mask="##-##-####" class="form-control" type="text" placeholder="dd-mm-yyyy" v-model="model.fechaNacimiento" tabindex="2"></the-mask>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="control-label">Opción Afiliado</label>
                                                                <select class="form-control" v-model="model.opcion" tabindex="3">
                                                                    <option value="">Selecciona</option>
                                                                    <option value="R">Reembolso Telefónico</option>
                                                                    <option value="T">Tarjeta Telefónico</option>
                                                                    <option value="RP">Reembolso Presencial</option>
                                                                    <option value="TP">Tarjeta Presencial</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="control-label">Celular</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">+56 9</span>
                                                                    <input type="text" class="form-control" v-model="model.celular" tabindex="4" v-mask="'########'">
                                                                </div>

                                                                <div class="input-group">
                                                                    <span class="input-group-addon">+56 9</span>
                                                                    <input type="text" class="form-control" placeholder="Repite Celular" v-model="model.validaCelular" tabindex="5" v-mask="'########'">
                                                                </div>

                                                                <div class="row">
                                                                    <div class="col-sm-6">
                                                                        <select class="form-control" v-model="model.celularOperador">
                                                                            <option value="">Operador</option>
                                                                            <option>Entel</option>
                                                                            <option>Wom</option>
                                                                            <option>Movistar</option>
                                                                            <option>Claro</option>
                                                                            <option>Virgin</option>
                                                                            <option>Vtr</option>
                                                                            <option>Colo Colo</option>
                                                                        </select>
                                                                    </div>

                                                                    <div class="col-sm-6">
                                                                        <select class="form-control" v-model="model.celularTipoContrato">
                                                                            <option value="">Tipo Contrato</option>
                                                                            <option>Plan</option>
                                                                            <option>Prepago</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="control-label">Tel. Secundario (No Obligatorio)</label>
                                                                <input type="text" class="form-control" v-model="model.telefono" tabindex="6">
                                                                <input type="text" class="form-control" placeholder="Repite Tel. Secundario" v-model="model.validaTelefono" tabindex="7">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="control-label">Email (No Obligatorio)</label>
                                                                <input type="text" class="form-control" v-model="model.email" tabindex="8">
                                                                <input type="text" class="form-control" placeholder="Repite Email" v-model="model.validaEmail" tabindex="9">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr />
                                                    <h5>Contacto de Emergencia (No Obligatorio)</h5>
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="control-label">Nombre</label>
                                                                <input type="text" class="form-control" v-model="model.contactoEmergencia.nombre" tabindex="55">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="control-label">Teléfono</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">+56</span>
                                                                    <input type="text" class="form-control" v-model="model.contactoEmergencia.telefono" tabindex="56" v-mask="'#########'">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="control-label">Relación</label>
                                                                <input type="text" class="form-control" v-model="model.contactoEmergencia.relacion" tabindex="57">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr />
                                                    <h5>Direccion de Residencia</h5>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label class="control-label">Calle</label>
                                                                <input type="text" class="form-control" autocomplete="off" v-model="model.direcciones.residencia.calle" tabindex="10">
                                                                <input type="text" class="form-control" autocomplete="off" placeholder="Repite el la Dirección" v-model="model.direcciones.residencia.validaCalle" tabindex="13">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="form-group">
                                                                <label class="control-label">Nro</label>
                                                                <input type="text" class="form-control" v-model="model.direcciones.residencia.numero" tabindex="11">
                                                                <input type="text" class="form-control" placeholder="Repite Nro" v-model="model.direcciones.residencia.validaNumero" tabindex="14">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="control-label">Comuna</label>
                                                                <v-select label="nombre" :options="comunas" :reduce="residencia => residencia.id" v-model="model.direcciones.residencia.comuna" :tabindex="12"></v-select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-5">
                                                            <div class="form-group">
                                                                <label class="control-label">Casa Interior / Departamento</label>
                                                                <input type="text" class="form-control" v-model="model.direcciones.residencia.numeracionInterior">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <h5>Direccion Laboral (No Obligatorio)</h5>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label class="control-label">Calle</label>
                                                                <input type="text" class="form-control" autocomplete="off" v-model="model.direcciones.laboral.calle" tabindex="16">
                                                                <input type="text" class="form-control" autocomplete="off" placeholder="Repite la Calle" v-model="model.direcciones.laboral.validaCalle" tabindex="19">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="form-group">
                                                                <label class="control-label">Nro</label>
                                                                <input type="text" class="form-control" v-model="model.direcciones.laboral.numero" tabindex="17">
                                                                <input type="text" class="form-control" placeholder="Repite Nro" v-model="model.direcciones.laboral.validaNumero" tabindex="20">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="control-label">Comuna</label>
                                                                <v-select label="nombre" :options="comunas" :reduce="laboral => laboral.id" v-model="model.direcciones.laboral.comuna" :tabindex="18"></v-select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </tab-content>
                                        <tab-content :before-change="validateSecondStep" title="Elección de Tarjeta"
                                                     icon="ion-card">
                                            <afiliado-info :lead="afiliadoEncontrado" :score="score" v-model="model.anotaciones"></afiliado-info>

                                            <div class="panel">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">Elección de Tarjeta</h4>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="alert alert-danger"><strong>{{ scriptEleccionTam }}</strong></div>
                                                    <div class="img-responsive mar-btm">
                                                        <img src="~/Assets/tam/tam.jpg" alt="tam" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-lg-3 control-label">Elección del Afiliado</label>
                                                        <div class="col-lg-7">
                                                            <div class="radio">

                                                                <input v-if="afiliadoEncontrado.flagTamMetro == 1" id="demo-radio-2" class="magic-radio" type="radio" name="eleccionAfiliado" value="mantiene_tam" v-model="model.eleccionTarjeta">
                                                                <label v-if="afiliadoEncontrado.flagTamMetro == 1" for="demo-radio-2">Mantener TAM-Metro (antigua)</label>

                                                                <input v-if="afiliadoEncontrado.flagTamMetro == 0" id="demo-radio-3" class="magic-radio" type="radio" name="eleccionAfiliado" value="prefiere_tam" v-model="model.eleccionTarjeta">
                                                                <label v-if="afiliadoEncontrado.flagTamMetro == 0" for="demo-radio-3">Prefiere TAM-Metro (antigua)</label>

                                                                <input id="demo-radio-1" class="magic-radio" type="radio" name="eleccionAfiliado" value="acepta_bip" v-model="model.eleccionTarjeta">
                                                                <label for="demo-radio-1">Acepta BIP AD (Nueva)</label>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </tab-content>
                                        <tab-content title="Despacho" :before-change="validateThrirdStep"
                                                     icon="ion-home">
                                            <afiliado-info :lead="afiliadoEncontrado" :score="score" v-model="model.anotaciones"></afiliado-info>

                                            <div class="panel">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">Despacho</h4>
                                                </div>
                                                <div class="panel-body">

                                                    <h5>Direccion de Despacho</h5>
                                                    <div class="row">
                                                        <div class="col-sm-12 mar-btm">
                                                            <div class="checkbox">
                                                                <input id="demo-form-checkbox-3" class="magic-checkbox" type="checkbox" v-on:click="setSameAddress()" v-model="model.direcciones.residenciaIgualDespacho">
                                                                <label for="demo-form-checkbox-3">La Direccion de Despacho es la misma que la de Residencia</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label class="control-label">Calle</label>
                                                                <input type="text" class="form-control" autocomplete="off" v-model="model.direcciones.despacho.calle" :readonly="model.direcciones.residenciaIgualDespacho == true">
                                                                <input type="text" class="form-control" autocomplete="off" placeholder="Repite el la Dirección" v-model="model.direcciones.despacho.validaCalle" :readonly="model.direcciones.residenciaIgualDespacho == true">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="form-group">
                                                                <label class="control-label">Nro</label>
                                                                <input type="text" class="form-control" v-model="model.direcciones.despacho.numero" :readonly="model.direcciones.residenciaIgualDespacho == true">
                                                                <input type="text" class="form-control" placeholder="Repite Nro" v-model="model.direcciones.despacho.validaNumero" :readonly="model.direcciones.residenciaIgualDespacho == true">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="control-label">Comuna</label>
                                                                <v-select label="nombre" :options="comunas" :reduce="despacho => despacho.id" v-model="model.direcciones.despacho.comuna" v-if="!model.direcciones.residenciaIgualDespacho"></v-select>
                                                                <input type="text" class="form-control" v-model="model.direcciones.despacho.comuna.nombre" v-if="model.direcciones.residenciaIgualDespacho" readonly>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-5">
                                                            <div class="form-group">
                                                                <label class="control-label">Casa Interior / Departamento</label>
                                                                <input type="text" class="form-control" v-model="model.direcciones.despacho.numeracionInterior" :readonly="model.direcciones.residenciaIgualDespacho == true">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </tab-content>
                                        <tab-content title="Preguntas Autenticación"
                                                     icon="ion-locked">
                                            <afiliado-info :lead="afiliadoEncontrado" :score="score" v-model="model.anotaciones"></afiliado-info>

                                            <div class="panel">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">Preguntas Autenticación</h4>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="alert alert-success" v-if="score >= 3">Afiliado cumple con Score Minimo, ya puedes finalizar!!</div>
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Pregunta</th>
                                                                <th>Check</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr v-for="(pregunta, index) in preguntas" :data-pregunta-id="pregunta.preguntaId" :data-criterio-id="pregunta.criterioId">
                                                                <td>
                                                                    <p><b>{{ pregunta.preguntaTexto }}</b></p>
                                                                    <small>{{ pregunta.criterioTexto }}</small>
                                                                </td>
                                                                <td>
                                                                    <div class="radio">
                                                                        <input :id="'si' + pregunta.preguntaId" class="magic-radio" type="radio" :name="pregunta.preguntaId" :value="{ pregunta, respuesta: 'califica' }" v-model="model.respuestas[index]" v-on:change="onAuthenticationItemChange">
                                                                        <label :for="'si' + pregunta.preguntaId">Califica</label>
                                                                        <input :id="'no' + pregunta.preguntaId" class="magic-radio" type="radio" :name="pregunta.preguntaId" :value="{ pregunta, respuesta: 'no_califica' }" v-model="model.respuestas[index]" v-on:change="onAuthenticationItemChange">
                                                                        <label :for="'no' + pregunta.preguntaId">No califica</label>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </tab-content>
                                    </form-wizard>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div id="tab-busqueda-tam" class="tab-pane fade">
                        <div class="panel-body">
                            <div id="query-app">

                                <div class="panel">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">Búsqueda Tam</h4>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row mar-btm">
                                            <form class="form-inline">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" id="exampleInputAmount" placeholder="Rut Afiliado" v-model="filters.rut">
                                                    </div>
                                                    <button type="button" class="btn btn-primary" v-on:click="onSearchClick()">Buscar</button>
                                                </div>
                                            </form>
                                        </div>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Rut</th>
                                                    <th>Nombres</th>
                                                    <th>Puntaje</th>
                                                    <th>Estado</th>
                                                    <th>Acción</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="item in results">
                                                    <td>{{ item.rut_busqueda }}</td>
                                                    <td>{{ item.nombre | nombreNoEncontrado }}</td>
                                                    <td>{{ item.score_autenticacion | puntaje }}</td>
                                                    <td>{{ item.estado_resultante }}</td>
                                                    <td>
                                                        <a class="btn btn-warning btn-xs" :href="`/motor/App/TamPensionado/Resume?rut=${item.rut_busqueda}&id=${item.id_gestion}`" v-if="isEtapaTransitoria(item.estado_resultante)">Retomar</a>
                                                        <a class="btn btn-primary btn-xs" :href="`/motor/App/TamPensionado/Detail?rut=${item.rut_busqueda}&id=${item.id_gestion}`">Editar</a>
                                                    </td>
                                                </tr>
                                                <tr v-if="results.length == 0">
                                                    <td colspan="4">Sin información para mostrar</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<!--MODAL GESTION COMERCIAL-->
<div id="mdl_data" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                <h4 class="modal-title" id="myLargeModalLabel">Gestión</h4>
            </div>
            <div class="modal-body">

                <div class="tab-base" id="MDL_Primario" style="margin-bottom: 0px !important;">
                    <!--Nav Tabs-->
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab" href="#tab-gestion-1" id="tab_contacti" aria-expanded="true">Contacto</a>
                        </li>
                        <li class="">
                            <a data-toggle="tab" href="#tab-gestion-2" aria-expanded="false">Historial de Gestión</a>
                        </li>
                        <li class="">
                            <a data-toggle="tab" href="#tab-gestion-3" aria-expanded="false">Contactabilidad</a>
                        </li>
                        <li class="">
                            <a data-toggle="tab" href="#tab-gestion-4" aria-expanded="false">Filtros</a>
                        </li>
                    </ul>

                    <!--Tabs Content-->
                    <div class="tab-content" style="box-shadow: 0 0 0 !important;">
                        <div id="tab-gestion-1" class="tab-pane fade active in">
                            <form>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label class="control-label">Rut</label>
                                            <input class="form-control" id="afi_rut" type="text" value="17.024.783-1" readonly="readonly">
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <label class="control-label">Nombres</label>
                                            <input class="form-control" id="afi_nombres" type="text" value="Carlos Antonio Pradenas Pérez" readonly="readonly">
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label class="control-label segmento_texto">Segmento</label>
                                            <input class="form-control" id="afi_segmento" type="text" value="Privados" readonly="readonly">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label class="control-label">Oficina Asignación</label>
                                            <input class="form-control" id="OficinaAsig" type="text" value="OficinaAsig" readonly="readonly">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label class="control-label" id="labelrutempresa">Rut Empresa</label>
                                            <input class="form-control" id="afi_empresa_rut" type="text" value="99.999.999-9" readonly="readonly">
                                        </div>
                                    </div>

                                    <div class="col-sm-6" id="morf_cnvs">
                                        <div class="form-group">
                                            <label class="control-label" id="labelempresa">Empresa</label>
                                            <input class="form-control" type="text" id="afi_empresa_nombre" value="La Araucana C.C.A.F." readonly="readonly">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group has-success">
                                            <label class="control-label" id="morfeable_monto">Monto Pre Aprobado</label>
                                            <div class="input-group mar-btm">
                                                <span class="input-group-addon"><i class="demo-pli-wallet-2"></i></span>
                                                <input class="form-control text-lg-right" id="afi_preaprobado" type="text" value="4.300.000" readonly="readonly">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" style="display:none;">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Emails</label>
                                            <button class="btn btn-xs btn-rounded btn-default" type="button" data-clipboard-action="copy" id="btn_copiar">copiar seleccionado</button>
                                            <div class="input-group mar-btm multicontrol-mail">
                                                <div class="input-group-btn">
                                                    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button" style="height: 34px; margin-right:0px;">
                                                        <i class="pli-mail-2"></i>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li class="forma-uno-mail"><a href="#" id="correos_Malo">Marcar como Malo</a></li>
                                                        <li class="divider desaparecible-mail"></li>
                                                        <li class="forma-dos-mail"><a href="#" id="correos_Nuevo">Agregar Nuevo</a></li>
                                                    </ul>
                                                </div>
                                                <select class="form-control" id="afi_correos" readonly="readonly"></select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Celulares</label>
                                            <div class="input-group mar-btm multicontrol-cel">
                                                <div class="input-group-btn">
                                                    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button" style="height: 34px; margin-right:0px;">
                                                        <i class="pli-smartphone-3"></i>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li class="forma-uno-cel"><a href="#" id="celulares_Malo">Marcar como Malo</a></li>
                                                        <li class="divider desaparecible-cel"></li>
                                                        <li class="forma-dos-cel"><a href="#" id="celulares_Nuevo">Agregar Nuevo</a></li>
                                                    </ul>
                                                </div>
                                                <select class="form-control" id="afi_celulares" readonly="readonly"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div style="display:none;" class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Telefonos</label>
                                            <div class="input-group mar-btm multicontrol">

                                                <div class="input-group-btn">
                                                    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button" style="height: 34px; margin-right:0px;">
                                                        <i class="pli-phone-2"></i>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li class="forma-uno"><a href="#" id="telefonos_Malo">Marcar como Malo</a></li>
                                                        <li class="divider desaparecible"></li>
                                                        <li class="forma-dos"><a href="#" id="telefonos_Nuevo">Agregar Nuevo</a></li>
                                                    </ul>
                                                </div>
                                                <select class="form-control" id="afi_telefonos" readonly="readonly"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label class="control-label">Oficina Preferencia</label>
                                            <div class="input-group mar-btm">

                                                <select class="form-control" id="afi_oficina_preferencia" readonly="readonly"></select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label class="control-label">Horario Preferencia</label>
                                            <div class="input-group mar-btm">
                                                <select class="form-control" id="afi_horario_preferencia" readonly="readonly">
                                                    <option value="">Seleccione</option>
                                                    <optgroup label="Generales">
                                                        <option>Durante la Mañana</option>
                                                        <option>Durante la Tarde</option>
                                                        <option>Cualquier Horario</option>
                                                    </optgroup>
                                                    <optgroup label="Especificas">
                                                        <option>09:00-11:00</option>
                                                        <option>11:00-13:00</option>
                                                        <option>13:00-15:00</option>
                                                        <option>15:00-17:00</option>
                                                        <option>17:00-19:00</option>
                                                    </optgroup>

                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-3" style="border-radius: 9px; font-size: 11px">
                                        <div class="row msjCovid" style="display:none; margin-top: 14px;">
                                            <div class="col-sm-12 covidNTFContainer">

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-3" style="border-radius: 9px; font-size: 11px">
                                        <div class="row msjCovidEmp" style="display:none; margin-top: 14px;">
                                            <div class="col-sm-12 covidEmpNTFContainer">

                                            </div>
                                        </div>
                                    </div>

                                </div>

                                @*<div class="alert alert-purple" style="border-radius: 5px; display:none" id="lbMensajeEncuesta">
                                        Afiliado no ha realizado la encuesta. "Enfermedades Cronicas y Medicamentos" <strong><u><a style="color: #076fc7;" id="linkencuesta" href="/motor/App/DatosAfiliados?RutBuscar=" target="_blank">  ir a encuesta! </a></u></strong>
                                    </div>*@

                                <div class="row charlyNTF" style="display:none;">
                                    <div class="col-sm-12 charlyNTFContainer">

                                    </div>
                                </div>

                                <div class="row sergioNTF" style="display:none;">
                                    <div class="col-sm-12 sergioNTFContainer">

                                    </div>
                                </div>

                                <div class="row contingenciaNTF" style="display:none;">
                                    <div class="col-sm-12 contingenciaNTFContainer">

                                    </div>
                                </div>

                                <div class="row psuNTF" style="display:none;">
                                    <div class="col-sm-12 psuNTFContainer">

                                    </div>
                                </div>


                                <div class="row NotfGenerica" style="display:none;">
                                    <div class="col-sm-12 NotfGenericaContainer">
                                        <br />
                                    </div>
                                </div>



                            </form>
                        </div>
                        <div id="tab-gestion-2" class="tab-pane fade">
                            <div class="list-group" id="gestiones_realizadas" style="min-height:290px;">
                            </div>
                        </div>
                        <div id="tab-gestion-3" class="tab-pane fade">
                            <div class="row">
                                <button type="button" id="btn-add-contac" class="btn btn-primary btn-xs">+</button>
                            </div>
                            <div class="mar-btm" style="display: none;" id="formulario-contac">
                                <form id="form-registro-contacto" action="#" method="post">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="btn-group bootstrap-select">
                                                    <label class="control-label">Tipo de Contacto</label>
                                                    <select class="selectpicker" id="cbtippContac" name="cbtippContac">
                                                        <option value="">Seleccione..</option>
                                                        <option value="1">Celular</option>
                                                        <option value="2">Teléfono</option>
                                                        <option value="3">Mail</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="btn-group bootstrap-select">
                                                    <label class="control-label">Clasificación de Contacto</label>
                                                    <select class="selectpicker" id="cbClasificacionConctac" name="cbClasificacionConctac">
                                                        <option value="">Seleccione..</option>
                                                        <option value="1">Personal</option>
                                                        <option value="2">Comercial</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label">Datos de Contacto</label>
                                                <input class="form-control" id="afi_NewContacto" type="text" value="" maxlength="150" name="afi_NewContacto">
                                            </div>
                                        </div>
                                    </div>

                                    <button class="btn btn-primary" id="btGuardaContacto" type="submit">Guardar Contacto</button>

                                </form>
                            </div>

                            <div class="row">


                                <table class="table table-hover table-vcenter" style="font-size: 11px;">
                                    <thead>
                                        <tr>
                                            <th>Gestión</th>
                                            <th>Datos Contacto</th>
                                            <th>Tipo contacto</th>
                                            <th>Indice</th>
                                            <th>Ultimo Contacto Valido</th>
                                        </tr>
                                    </thead>
                                    <tbody id="bdy_datos_contactos"></tbody>
                                </table>
                            </div>
                        </div>
                        <div id="tab-gestion-4" class="tab-pane fade">
                            <div class="table-responsive" style="overflow:scroll; height:350px;">
                                <table class="table table-striped">
                                    <tbody id="letable"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Modal footer-->
            <div class="modal-footer" id="mensahes-must">
                <form id="datos-gestion" action="#" method="post" style="display:none;">
                    <div class="row esconder" style="text-align: left;">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Estado</label>
                                <select class="form-control" id="ges_estado" name="ges_estado">
                                    <option value="">Seleccione</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Sub Estado</label>
                                <select class="form-control" id="ges_subestado" name="ges_subestado" disabled="disabled">
                                    <option value="">Seleccione</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group" id="fpg">
                                <label class="control-label">Fecha Próxima Gestión</label>
                                <div id="demo-dp-component">
                                    <div class="input-group date">
                                        <input type="text" class="form-control" id="ges_prox_gestion" name="ges_prox_gestion">
                                        <span class="input-group-addon"><i class="demo-pli-calendar-4"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*SERGIO*@
                    <div id="divBancos" style="display:none">
                        <hr />
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">BANCO</label>
                                    <select class="form-control" id="afi_banco" name="afi_banco" v-model="modelos.banco">
                                        <option value="">Seleccione...</option>
                                        <option v-for="bancos in filtros.banco" :value="bancos.nombre_banco">{{bancos.nombre_banco}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label">TIPO CUENTA</label>
                                    <select class="form-control" id="afi_tipo_cuenta" name="afi_tipo_cuenta">
                                        <option value="">Seleccione...</option>
                                        <option value="CUENTA DE AHORRO">CUENTA DE AHORRO</option>
                                        <option value="CUENTA CORRIENTE">CUENTA CORRIENTE</option>
                                        <option value="CUENTA VISTA">CUENTA VISTA</option>
                                        <option value="CUENTA RUT">CUENTA RUT</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label">N° CUENTA</label>
                                    <input class="form-control" id="afi_n_cuenta" neme="afi_n_cuenta" type="text">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">EMAIL</label>
                                    <input class="form-control" id="afi_email_banco" neme="afi_email_banco" type="text">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label">TELEFONO</label>
                                    <input class="form-control" id="afi_fono_banco" neme="afi_fono_banco" type="text">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row esconder" style="text-align: left;">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">Comentarios</label>
                                <textarea placeholder="Comentarios" rows="3" class="form-control" id="ges_comentarios" name="ges_comentarios"></textarea>
                            </div>
                        </div>

                    </div>

                    <input type="hidden" id="ges_id_asignacion" name="ges_id_asignacion" value="" />

                    <button data-dismiss="modal" class="btn btn-default" type="button">Cerrar</button>
                    <button class="btn btn-primary esconder" id="btn_savear" type="submit">Guardar</button>
                </form>
                <form id="datos-gestion-sc" action="#" method="post" style="display:none;">
                    <div class="row esconder" style="text-align: left;">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Estado</label>
                                <select class="form-control" id="ges_estadoSC" name="ges_estadoSC">
                                    <option value="">Seleccione</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Sub Estado</label>
                                <select class="form-control" id="ges_subestadoSC" name="ges_subestadoSC" disabled="disabled">
                                    <option value="">Seleccione</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group" id="fpgSC">
                                <label class="control-label">Fecha Próxima Gestión</label>
                                <div id="demo-dp-componentSC">
                                    <div class="input-group date">
                                        <input type="text" class="form-control" id="ges_prox_gestionSC" name="ges_prox_gestionSC">
                                        <span class="input-group-addon"><i class="demo-pli-calendar-4"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row esconder" style="text-align: left;">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">Comentarios</label>
                                <textarea placeholder="Comentarios" rows="3" class="form-control" id="ges_comentariosSC" name="ges_comentariosSC"></textarea>
                            </div>
                        </div>

                    </div>

                    <input type="hidden" id="ges_id_asignacionSC" name="ges_id_asignacionSC" value="" />

                    <button data-dismiss="modal" class="btn btn-default" type="button">Cerrar</button>
                    <button class="btn btn-primary esconder" id="btn_savear_sc" type="submit">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>



@section script{

    <script>
        var id = '@ViewBag.id';
        var rut = '@ViewBag.rut';
    </script>
    <script src="~/Assets/js/vue.js"></script>
    <script src="~/Assets/tam/homologo.js"></script>
    <script src="~/Assets/tam/deps/vue-form-wizard.js"></script>
    <script src="~/Assets/tam/deps/moment.js"></script>
    <script src="~/Assets/tam/deps/lodash.js"></script>
    <script src="~/Assets/tam/deps/sweetalert.js"></script>
    <script src="~/Assets/tam/deps/vuejs-the-mask.js"></script>
    <script src="~/Assets/tam/deps/vue-select.js"></script>
    <script src="~/Assets/tam/shared.js?g=@Guid.NewGuid().ToString()"></script>
    <script src="~/Assets/tam/components.vue.js?g=@Guid.NewGuid().ToString()"></script>
    <script src="~/Assets/tam/app.vue.js?g=@Guid.NewGuid().ToString()"></script>
    <script src="~/Assets/tam/queries.app.vue.js?g=@Guid.NewGuid().ToString()"></script>

    <script src="~/Assets/plugins/chosen/chosen.jquery.min.js"></script>
    <script src="~/Assets/plugins/bootstrap-validator/bootstrapValidator.min.js "></script>

    <script src="~/Assets/js.App/src/venta-remota.js?g=@Guid.NewGuid().ToString()"></script>
    <script src="~/Assets/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="~/Assets/plugins/bootstrap-table/locale/bootstrap-table-es-ES.min.js"></script>
    <script src="~/Assets/js.App/src/index.js?g=@Guid.NewGuid().ToString()"></script>
}





