


@{
    ViewBag.Title = "Ingreso";
    Layout = "~/Areas/AppPage/Views/Shared/_Layout.cshtml";
}



<!--Magic Checkbox [ OPTIONAL ]-->
<link href="~/Assets/plugins/magic-check/css/magic-check.min.css" rel="stylesheet">
<script src="~/Assets/plugins/bootbox/bootbox.min.js"></script>



<!--Page content-->
<!--===================================================-->
<div id="page-content">


    <div class="row">

        <div class="col-lg-12">

            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Documento General</h3>
                </div>

                <!--Block Styled Form -->
                <!--===================================================-->
                <form id="frm-data-lc">
                    <div class="panel-body">


                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label">Rut Afiliado</label>
                                    <input type="text" class="form-control es-rut" name="AfiliadoRut" id="AfiliadoRut" tabindex="1" readonly="readonly">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label">Nombre Afiliado</label>
                                    <input type="text" class="form-control" readonly="readonly" id="AfiNombres">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label">Folio</label>
                                    <input type="text" class="form-control" readonly="readonly" id="folio">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label">Oferta</label>
                                    <input type="text" class="form-control" readonly="readonly" id="oferta">
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label">Oficina Auditora</label>
                                    <input type="text" class="form-control" readonly="readonly" id="OficinaAuditora">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label">Oficina Curse</label>
                                    <input type="text" class="form-control" readonly="readonly" id="OficinaVenta">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label">Oficina Pagadora</label>
                                    <input type="text" class="form-control" readonly="readonly" id="OficinaPagadora">
                                </div>
                            </div>


                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" i>
                                    <hr />
                                    <label class="h5 control-label">
                                        Documentación General
                                    </label>
                                    <hr />
                                    <div class="row text-center">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="h5 control-label">Revisión pagaré Legalizado (2)</label>

                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="h5 control-label">Falta Mayor</label>

                                            </div>
                                        </div>
                                        <div class="col-sm-3" id="divpagare">
                                            <div class="form-group">
                                                <select class="form-control" id="ddPagare" style="border-radius:6px">
                                                    <option value="0">Seleccione...</option>
                                                    <option value="1">Cumple (Está y es Legible)</option>
                                                    <option value="2">No Cumple (No encontrado)</option>
                                                    <option value="3">No Cumple (Ilegible)</option>
                                                    <option value="4">No Aplica</option>
                                                    <option value="5">No cumple (Incompleto)</option>
                                                    <option value="6">No cumple (Políticas de crédito)</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row text-center" id="divCI">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="h5 control-label">Revisión cédula (1)</label>

                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="h5 control-label">Falta Menor</label>

                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <select class="form-control" id="ddlcedula" style="border-radius:6px">
                                                    <option value="0">Seleccione...</option>
                                                    <option value="1">Cumple (Está y es Legible)</option>
                                                    <option value="2">No Cumple (No encontrado)</option>
                                                    <option value="3">No Cumple (Ilegible)</option>
                                                    <option value="4">No Aplica</option>
                                                    <option value="5">No cumple (Incompleto)</option>
                                                    <option value="6">No cumple (Políticas de crédito)</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row text-center">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="h5 control-label">Estado</label>

                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label id="lblEstado" class="h4"></label>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-right">
                        <button class="btn btn-primary" type="button" id="btn-bolver">Volver</button>
                        <button class="btn btn-success" type="button" id="btn-guardar">Guardar</button>
                        <!--<button class="btn btn-success" type="submit" id="bt-guarda-bolver" tabindex="4">Guardar y Volver</button>-->
                    </div>

                </form>
                <!--===================================================-->
                <!--End Block Styled Form -->

            </div>

        </div>



    </div>



</div>
<!--===================================================-->
<!--End page content-->


@section script{

    <script src="~/Assets/plugins/fooTable/dist/footable.all.min.js"></script>
    <script src="~/Assets/plugins/bootstrap-validator/bootstrapValidator.min.js"></script>
    <!--Bootstrap Select [ OPTIONAL ]-->
    <script src="~/Assets/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <!--Masked Input [ OPTIONAL ]-->
    <script src="~/Assets/plugins/masked-input/jquery.maskedinput.min.js"></script>
    <script src="~/Assets/js/jquery.rut.chileno.min.js"></script>
    <script src="~/Assets/js.App/src/Digitalizacion-Gestion-auditoria-legalizado.js"></script>

}








