
@{
    ViewBag.Title = "Ingreso";
    Layout = "~/Areas/AppPage/Views/Shared/_Layout.cshtml";
}



<!--Magic Checkbox [ OPTIONAL ]-->
<link href="~/Assets/plugins/magic-check/css/magic-check.min.css" rel="stylesheet">
<script src="~/Assets/plugins/bootbox/bootbox.min.js"></script>



<!--Page content-->
<!--===================================================-->
<div id="page-content" ng-app="app">


    <div class="row" ng-controller="controlador">

        <div class="col-lg-12">

            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Documento General</h3>
                </div>
                <input type="text" ng-model="prueba" /> valor de prueba {{prueba}} {{apellido}}
                {{2+2}}


                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="control-label">Ejecutivo</label>
                                <select id="ddlejecutivoAsignacion" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <button class="btn btn-primary btn-rounded" style="margin-top: 22px;" id="btn_buscar_asignacion">BUSCAR</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
@section script{

    <script src="~/Assets/plugins/fooTable/dist/footable.all.min.js"></script>
    <script src="~/Assets/plugins/bootstrap-validator/bootstrapValidator.min.js"></script>
    <!--Bootstrap Select [ OPTIONAL ]-->
    <script src="~/Assets/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <!--Masked Input [ OPTIONAL ]-->
    <script src="~/Assets/plugins/masked-input/jquery.maskedinput.min.js"></script>
    <script src="~/Assets/js/jquery.rut.chileno.min.js"></script>

    <script src="~/Assets/js.App/src/angular.min.js"></script>
    <script src="~/Assets/js.App/src/angular-route.min.js"></script>
    <script src="~/Assets/js.App/src/app.js"></script>
}
