



<link href="~/Assets/plugins/switchery/switchery.min.css" rel="stylesheet">
<link href="~/Assets/plugins/magic-check/css/magic-check.min.css" rel="stylesheet">
<link href="~/Assets/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
<link href="~/Assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet">
<link href="~/Assets/plugins/chosen/chosen.min.css" rel="stylesheet">
<link href="~/Assets/plugins/magic-check/css/magic-check.min.css" rel="stylesheet">
<link href="~/Assets/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">

<div id="page-content">
    <div id="divAcuenta">
        <div class="panel" style="border-radius: 7px;">
            <div class="panel-heading">
                <h3 class="panel-title">FILTROS</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4 text-xs-center">
                        <div class="form-group">
                            <label class="control-label">CAMPAÑA</label>

                            <select class="form-control" id="dllCampana" name="dllCampana" v-model="modelos.campana">
                                <option value="">Seleccione...</option>
                                <option v-for="campRetencion in filtros.campana" :value="campRetencion.nombre">{{campRetencion.nombre}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-2 text-xs-center">
                        <div class="form-group">
                            <label class="control-label">RUT</label>
                            <input id="txtRutAcuenta" type="text" placeholder="Ej. 12345678-0" class="form-control" maxlength="10" autocomplete="off">
                        </div>
                    </div>

                    <div class="col-sm-2 text-xs-center">
                        <div class="form-group">
                            <label class="control-label">CRÉDITO VIGENTE</label>
                            <select class="form-control" id="dllCreditoVigente" name="dllCreditoVigente">
                                <option value="">Todos...</option>
                                <option value="SI">SI</option>
                                <option value="NO">NO</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-2 text-xs-center">
                        <div class="form-group">
                            <label class="control-label">MARCA</label>
                            <select class="form-control" id="dllCreditoMarca" name="dllCreditoMarca" v-model="modelos.marca">
                                <option value="">Todos...</option>
                                <option v-for="marcaAcuenta in filtros.marca" :value="marcaAcuenta.nombre">{{marcaAcuenta.nombre}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-2 text-xs-center">
                        <div class="form-group">
                            <label class="control-label">OFERTA CRÉDITO</label>
                            <select class="form-control" id="dllOferta" name="dllOferta">
                                <option value="">Todos...</option>
                                <option value="SI">SI</option>
                                <option value="NO">NO</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-2 text-xs-center">
                        <div class="form-group">
                            <label class="control-label">ESTADO</label>
                            <select class="form-control" id="dllEstadoCopago" name="dllEstadoCopago" v-on:change="eventoCambiaEstadoAcuenta" v-model="modelos.estados">
                                <option value="">Todos...</option>
                                <option v-for="estadoAcuenta in filtros.estados" :value="estadoAcuenta.id">{{estadoAcuenta.nombre}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-2 text-xs-center">
                        <div class="form-group">
                            <label class="control-label">SUB-ESTADO</label>
                            <select class="form-control" id="dllSubEstadoCopago" name="dllSubEstadoCopago" v-model="modelos.subEstados">
                                <option value="">Todos...</option>
                                <option v-for="subEstadoAcuenta in filtros.subEstados" :value="subEstadoAcuenta.nombre">{{subEstadoAcuenta.nombre}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-1 text-xs-center">
                        <div class="form-group">
                            <label class="control-label"></label>
                            <button class="btn btn-primary btn-rounded" v-on:click="cargaLeadFiltroAcuenta" style="margin-top: 21px;">Filtrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel" style="border-radius: 7px;">
                    <div class="panel-heading">
                        <h3 class="panel-title"></h3>
                    </div>
                    <div class="panel-body">
                        <table data-toggle="table"
                               data-sort-name="id"
                               data-page-list="[]"
                               data-page-size="50"
                               data-search="false"
                               data-pagination="true" id="tblAcuenta" style="font-size: 12px">
                            <thead>
                                <tr>
                                    <th data-field="rut" data-sortable="true" data-formatter="formaterRut">RUT</th>
                                    <th data-field="nombre" data-sortable="true">NOMBRE</th>
                                    <th data-field="credito_vigente" data-sortable="true">CREDITO VIGENTE</th>
                                    <th data-field="oferta" data-sortable="true">OFERTA CREDITO</th>
                                    <th data-field="campana" data-sortable="true">CAMPAÑA</th>
                                    <th data-field="ultimaGestion.subEstado" data-sortable="true">SUB-ESTADO</th>
                                    <th data-field="mandato" data-sortable="true">MANDATO</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="modal_acuenta" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-radius: 9px;">
            <div class="modal-header" style="background: #337ab7;">
                <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                <h4 class="modal-title" style="color: #f1f1f1;">GESTION</h4>
            </div>

            <div class="modal-body">
                <div class="tab-base" id="MDL_Primario_acuerdo_pago" style="margin-bottom: 0px !important;">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab" href="#tab-gestion-acuenta" aria-expanded="false">GESTION</a>
                        </li>
                        <li class="">
                            <a data-toggle="tab" href="#tab-historial-acuenta" aria-expanded="false">HISTORIAL</a>
                        </li>
                        <li class="">
                            <a data-toggle="tab" href="#tab-credito-vigente" aria-expanded="false">CREDITOS VIGENTES</a>
                        </li>
                        <li class="">
                            <a data-toggle="tab" href="#tab-beneficios-usados" aria-expanded="false">BENEFICIOS USADOS</a>
                        </li>
                        <li class="">
                            <a data-toggle="tab" href="#tab-beneficios-vigente" aria-expanded="false">BENEFICIOS VIGENTES</a>
                        </li>
                        <li class="">
                            <a data-toggle="tab" href="#tab-contactabiliadad" aria-expanded="false">CONTACTABILIDAD</a>
                        </li>
                    </ul>
                    <div class="tab-content" style="box-shadow: 0 0 0 !important;">
                        <div id="tab-gestion-acuenta" class="tab-pane fade active in">
                            <div class="panel" style="border-radius: 7px;">
                                <div class="panel-body">
                                    <div id="msjAcuenta"></div>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label">RUT</label>
                                                <input class="form-control" id="txtRutModalAcuenta" :value="dataModal.rut" type="text" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label">NOMBRE</label>
                                                <input class="form-control" id="txtNombreModalAcuenta" :value="dataModal.nombre" type="text" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label">OFERTA CREDITO</label>
                                                <input class="form-control money" type="text" id="txtOfertaModalAcuenta" :value="dataModal.oferta_monto" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel" style="border-radius: 7px;">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">ESTADO</label>
                                                <select class="form-control" id="dllEstadoModal" name="dllEstadoModal" v-on:change="eventoCambiaEstadoAcuentaModal" v-model="modelos.estadosModal">
                                                    <option value="">Seleccione...</option>
                                                    <option v-for="estadoAcuentaM in filtros.estadosModal" :value="estadoAcuentaM.id">{{estadoAcuentaM.nombre}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">SUB-ESTADO</label>
                                                <select class="form-control" id="dllSubEstadoModal" name="dllSubEstadoModal" v-model="modelos.subEstadosModal">
                                                    <option value="">Seleccione...</option>
                                                    <option v-for="subEstadoAcuentaM in filtros.subEstadosModal" :value="subEstadoAcuentaM.id">{{subEstadoAcuentaM.nombre}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" id="checkBeneficios" style="display:none;">
                                        <div class="col-sm-12">
                                            <div class="panel" style="border-radius: 7px; border: 1px solid #8bc34a;">
                                                <div class="panel-body">

                                                    <div class="form-group pad-ver">
                                                        <label class="col-md-3 control-label"><strong>Beneficios:</strong></label>
                                                        <div class="col-md-9">
                                                            <div id="dvBeneficiosG" class="checkbox" style="margin-top: 0px;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">OBSERVACION</label>
                                        <textarea rows="3" id="txtobservacion" name="txtobservacion" class="form-control" style="border-radius: 6px;"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button data-dismiss="modal" class="btn btn-default" type="button">Cerrar</button>
                                <button class="btn btn-primary" v-on:click="handleSubmitGuadarGestion">Guardar</button>
                            </div>
                        </div>
                        <div id="tab-historial-acuenta" class="tab-pane fade">
                            <div class="list-group" style="min-height:290px;">
                                <div v-for="gestion in dataModalHist">
                                    <a href="#">
                                        <h4 class="list-group-item-heading"><strong>Gestor: </strong>{{gestion.rut_ejecutivo != undefined && gestion.rut_ejecutivo}}</h4>
                                        <p class="list-group-item-text">
                                            <strong>Fecha Gestión: </strong>{{gestion.fecha_gestion != undefined && gestion.fecha_gestion.toFechaHoraPrueba()}}
                                        </p>
                                        <p class="list-group-item-text">
                                            <strong>Estado: </strong>{{gestion.estado != undefined && gestion.estado != null ? gestion.estado: '------'}}
                                            <strong>Sub-Estado: </strong>{{gestion.subEstado != undefined && gestion.subEstado != null ? gestion.subEstado: '------'}}
                                        </p>
                                        <p class="list-group-item-text">
                                            <strong>Comentarios: </strong> {{gestion.observacion}}
                                        </p>
                                    </a>
                                    <hr />
                                </div>
                            </div>
                        </div>
                        <div id="tab-credito-vigente" class="tab-pane fade">
                            <div class="panel" style="border-radius: 7px;">
                                <div class="panel-body">
                                    <table data-toggle="table"
                                           data-sort-name="id"
                                           data-page-list="[]"
                                           data-page-size="50"
                                           data-search="false"
                                           data-pagination="true" id="tblDetalleAcuenta" style="font-size: 12px" class="table table-striped">

                                        <thead>
                                            <tr>
                                                <th data-field="foliocredito" data-sortable="true">FOLIO</th>
                                                <th data-field="montoCredito" data-sortable="true">MONTO CREDITO</th>
                                                <th data-field="cuotas" data-sortable="true">CUOTAS</th>
                                                <th data-field="valorCuota" data-sortable="true">VALOR CUOTAS</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="tab-beneficios-usados" class="tab-pane fade">
                            <div class="panel-body">
                                <table data-toggle="table"
                                       data-sort-name="id"
                                       data-search="false"
                                       data-pagination="false" id="tblBnfUsados" style="font-size: 12px" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th data-field="beneficio" data-sortable="true" data-formatter="formatoBnfVig">BENEFICIOS</th>
                                            <th data-field="usos" data-sortable="true" data-formatter="formatoBnfVigUso">USOS</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <div id="tab-beneficios-vigente" class="tab-pane fade">
                            <div class="panel-body">
                                <table data-toggle="table"
                                       data-sort-name="id"
                                       data-search="false"
                                       data-pagination="false" id="tblBnfVig" style="font-size: 12px" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th data-field="beneficio" data-sortable="true" data-formatter="formatoBnfVig">BENEFICIO</th>
                                            <th data-field="descripcion" data-sortable="true">DESCRIPCION</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <div id="tab-contactabiliadad" class="tab-pane fade">
                            <div class="row">
                                <button type="button" id="btn-add-contac_acuenta" class="btn btn-primary btn-xs">+</button>
                            </div>
                            <div class="mar-btm" style="display: none;" id="formulario-contac_acuenta">
                                <form id="form-registro-contacto_acuenta" action="#" method="post">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="btn-group bootstrap-select">
                                                    <label class="control-label">Tipo de Contacto</label>
                                                    <select class="selectpicker" id="cbtippContac_acuenta" name="cbtippContac_acuenta">
                                                        <option value="">Seleccione..</option>
                                                        <option value="1">Celular</option>
                                                        <option value="2">Teléfono</option>
                                                        <option value="3">Mail</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="btn-group bootstrap-select">
                                                    <label class="control-label">Clasificación de Contacto</label>
                                                    <select class="selectpicker" id="cbClasificacionConctac_acuenta" name="cbClasificacionConctac_acuenta">
                                                        <option value="">Seleccione..</option>
                                                        <option value="1">Personal</option>
                                                        <option value="2">Comercial</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label">Datos de Contacto</label>
                                                <input class="form-control" id="afi_NewContacto_acuenta" type="text" value="" maxlength="150" name="afi_NewContacto_acuenta">
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary" id="btGuardaContacto_acuenta" type="submit">Guardar Contacto</button>
                                </form>
                            </div>
                            <div class="row">
                                <table class="table table-hover table-vcenter" style="font-size: 11px;">
                                    <thead>
                                        <tr>
                                            <th>Gestión</th>
                                            <th>Datos Contacto</th>
                                            <th>Tipo contacto</th>
                                            <th>Indice</th>
                                            <th>Ultimo Contacto Valido</th>
                                        </tr>
                                    </thead>
                                    <tbody id="bdy_datos_contactos_acuenta"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section script{
    <script src="~/Assets/js/vue.js"></script>
    <script src="~/Assets/plugins/fooTable/dist/footable.all.min.js"></script>
    <script src="~/Assets/plugins/bootstrap-validator/bootstrapValidator.min.js"></script>
    <script src="~/Assets/plugins/fooTable/dist/footable.all.min.js"></script>
    <script src="~/Assets/plugins/bootstrap-validator/bootstrapValidator.min.js"></script>
    <script src="~/Assets/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/Assets/plugins/chosen/chosen.jquery.min.js"></script>
    <script src="~/Assets/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="~/Assets/plugins/bootstrap-table/locale/bootstrap-table-es-ES.min.js"></script>
    <script src="~/Assets/plugins/chosen/chosen.jquery.min.js"></script>
    <script src="~/Assets/plugins/switchery/switchery.min.js"></script>
    <script src="~/Assets/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/Assets/plugins/bootbox/bootbox.min.js"></script>
    <script src="~/Assets/tam/deps/sweetalert.js"></script>
    <script src="~/Assets/js.App/src/Acuenta.js?g=@Guid.NewGuid().ToString()"></script>


}


