
@{
    ViewBag.Title = "ListarUsuarios";
}
<link href="~/Assets/plugins/switchery/switchery.min.css" rel="stylesheet">
<link href="~/Assets/plugins/magic-check/css/magic-check.min.css" rel="stylesheet">
<link href="~/Assets/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
<link href="~/Assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet">
<link href="~/Assets/plugins/chosen/chosen.min.css" rel="stylesheet">
<link href="~/Assets/plugins/magic-check/css/magic-check.min.css" rel="stylesheet">
<link href="~/Assets/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">
<link href="~/Assets/css/inputmask.min.css" rel="stylesheet" />
<style>
    #tblDigitalizacion > tbody {
        font-size: 11px;
    }

    .nav-tabs .badge {
        position: absolute;
        top: -10px;
        right: 1px;
        background: red;
    }
</style>
<div id="page-content">
    <div class="row">
        <h1 class="page-header text-overflow">Listado de Usuarios </h1>
        <br />
        <div class="panel" style="border-radius: 8px">
            <div class="panel-heading">
                <h3 class="panel-title">Filtros de Búsqueda</h3>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="control-label">Rut Usuario</label>
                            <input type="text" id="txtrut" class="form-control " maxlength="15">
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="form-group">
                            <button class="btn btn-primary btn-rounded" style="margin-top: 22px;" id="btn_buscar">BUSCAR</button>

                            <span class="iconify" data-icon="ant-design:file-add-twotone" data-inline="false"></span>
                        </div>
                    </div>
                </div>
                <hr />
                <button class="btn btn-success btn-rounded btn-labeled ion-plus-round" data-target="#modal-usuarios" data-toggle="modal" data-tipo="nuevo" id="btn_nuevo">Nuevo Usuario</button>

            </div>
        </div>


    </div>
    <div class="panel" style="border-radius: 8px">

        <h3 class="panel-title">Datos de Usuarios</h3>
        <form class="form-horizontal">
            <div class="panel-body">
                <div class="panel-body">
                    <table data-toggle="table"
                           data-sort-name="id"
                           data-page-list="[]"
                           data-page-size="30"
                           data-search="false"
                           data-show-pagination-switch="false"
                           data-pagination="true" id="tblUsuarios" style="font-size: 12px">

                        <thead>
                            <tr>
                                <th data-field="Rut" data-sortable="true">Rut Usuario</th>
                                <th data-field="Nombre" data-sortable="true">Nombre Usuario</th>
                                <th data-field="Sucursal" data-sortable="true">Oficina</th>
                                <th data-field="Cargo" data-sortable="true">Cargo</th>
                                <th data-field="Id" data-formatter="digitalLinkFormatter">Acción</th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>
<!--===================================================-->
<div class="modal fade" id="modal-usuarios" role="dialog" tabindex="-1" aria-labelledby="modal-usuarios" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-radius: 9px;">
            <div class="modal-header" style="background: #337ab7;">
                <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                <h4 class="modal-title" style="color: #f1f1f1;">Datos del Usuario</h4>
            </div>



            <!--Modal body-->
            <div class="modal-body">

                <div id="msjerror">
                    <br />
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="control-label">Rut Usuario</label>
                            <input type="text" class="form-control es-rut" placeholder="Rut Usuario" name="txtrutUsuario" id="txtrutUsuario" tabindex="1">
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label class="control-label">Nombre Usuario</label>
                            <input type="text" class="form-control" id="txtNombreUsuario" placeholder="Nombre Usuario" tabindex="2">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">Oficina</label>
                            <select class="form-control" id="ddloficina" name="ddloficina" tabindex="3"></select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Cargo</label>
                            <select class="form-control" id="ddlcargos" name="ddlcargos" tabindex="4"></select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">Correo</label>
                            <input type="email" class="form-control" id="txtCorreo" placeholder="Correo" tabindex="5">
                        </div>
                    </div>
                </div>
            </div>


            <!--Modal footer-->
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button" id="btn_cancelar">Cancelar</button>
                <button type="button" class="btn btn-success" id="btn-guardar">Guardar</button>
            </div>

        </div>
    </div>
</div>
@section script{
    <script src="~/Assets/js/vue.js"></script>
    <script src="~/Assets/plugins/fooTable/dist/footable.all.min.js"></script>
    <script src="~/Assets/plugins/bootstrap-validator/bootstrapValidator.min.js"></script>
    <script src="~/Assets/plugins/fooTable/dist/footable.all.min.js"></script>
    <script src="~/Assets/plugins/bootstrap-validator/bootstrapValidator.min.js"></script>
    <script src="~/Assets/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/Assets/plugins/chosen/chosen.jquery.min.js"></script>
    <script src="~/Assets/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="~/Assets/plugins/bootstrap-table/locale/bootstrap-table-es-ES.min.js"></script>
    <script src="~/Assets/plugins/chosen/chosen.jquery.min.js"></script>
    <script src="~/Assets/plugins/switchery/switchery.min.js"></script>
    <script src="~/Assets/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/Assets/tam/deps/sweetalert.js"></script>
    <script src="~/Assets/plugins/bootbox/bootbox.min.js"></script>
    <script src="~/Assets/js/inputmask.js"></script>
    <script src="~/Assets/js/jquery.inputmask.bundle.js"></script>
    <script src="~/Assets/js.App/src/mantenedor-lista-usuario.js?g=@Guid.NewGuid().ToString()"></script>

}
