
@{
    /**/

    Layout = null;
}






<!--Page content-->
<!--===================================================-->

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="~/Assets/img/favicon.ico" />

    <title>Bitácora de Licencia</title>
    <!--STYLESHEET-->
    <!--=================================================-->
    <!--Open Sans Font [ OPTIONAL ]-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>


   <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link href="~/Assets/css/bootstrap.min.css" rel="stylesheet">


    <!--Nifty Stylesheet [ REQUIRED ]-->
    <link href="~/Assets/css/nifty.min.css" rel="stylesheet">
    <link href="~/Assets/css/themes/type-a/theme-ocean.min.css" rel="stylesheet">


    <!--Nifty Premium Icon [ DEMONSTRATION ]-->
    <link href="~/Assets/css/demo/nifty-demo-icons.min.css" rel="stylesheet">

    <!--FooTable [ OPTIONAL ]-->
    <link href="~/Assets/plugins/fooTable/css/footable.core.css" rel="stylesheet">

    <!--Ion Icons [ OPTIONAL ]-->
    <link href="~/Assets/plugins/ionicons/css/ionicons.min.css" rel="stylesheet">

    <!--Bootstrap Datepicker [ OPTIONAL ]-->
    <link href="~/Assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet">

    <link href="~/Assets/plugins/chosen/chosen.min.css" rel="stylesheet" />
    <link href="~/Assets/plugins/magic-check/css/magic-check.min.css" rel="stylesheet" />


    <!--JAVASCRIPT-->
    <!--=================================================-->
    <!--Pace - Page Load Progress Par [OPTIONAL]-->
    @*<link href="~/Assets/plugins/pace/pace.min.css" rel="stylesheet">
    <link href="~/Assets/css.App/print.css" rel="stylesheet">*@

    @*<script src="~/Assets/plugins/clipboard/dist/clipboard.js"></script>*@
    <!--jQuery [ REQUIRED ]-->
    <script src="~/Assets/js/jquery.min.js"></script>
    <script src="~/Assets/plugins/pace/pace.min.js"></script>

    <script src="~/Assets/js.App/Conf.js"></script>
    <script src="~/Assets/js.App/callCenter.js"></script>

    <!--BootstrapJS [ RECOMMENDED ]-->
    <script src="~/Assets/js/bootstrap.min.js"></script>


    <!--NiftyJS [ RECOMMENDED ]-->
    <script src="~/Assets/js/nifty.js"></script>

    <!--Premium Line Icons [ OPTIONAL ]-->
    <link href="~/Assets/premium/icon-sets/icons/line-icons/premium-line-icons.min.css" rel="stylesheet">

    <!--Modals [ SAMPLE ]-->
    <script src="~/Assets/js/demo/ui-modals.js"></script>

    <!--Icons [ SAMPLE ]-->
    <script src="~/Assets/js/demo/icons.js"></script>

    <!--Bootstrap Datepicker [ OPTIONAL ]-->
    <script src="~/Assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>

</head>
<body>
    <div id="page-content">


        <div class="row">
            <div class="col-lg-12">

                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Bitácora Licencia Médica</h3>
                    </div>

                    <!--Block Styled Form -->
                    <!--===================================================-->
                    <form id="frm-data-lc">
                        <div class="panel-body">

                            <div class="col-lg-4">

                                <h4>Datos de la Licencia </h4>

                                <table class="table text-left">
                                    <tr>
                                        <td><strong>Folio Licencia</strong></td>
                                        <td><label id="lblfolic"></label></td>
                                    </tr>
                                    <tr>
                                        <td><strong>Rut Afiliado</strong></td>
                                        <td><label id="lblRutAfiliado"></label></td>
                                    </tr>
                                    <tr>
                                        <td><strong>Fecha Ingreso</strong></td>
                                        <td><label id="lblfechaingreso"></label></td>
                                    </tr>
                                    <tr>
                                        <td><strong>Oficina</strong></td>
                                        <td><label id="lbloficina"></label></td>
                                    </tr>
                                    <tr>
                                        <td><strong>Formato </strong></td>
                                        <td><label id="lblformato"></label></td>
                                    </tr>
                                    <tr id="trTipoLM">
                                        <td><strong>Tipo LM </strong></td>
                                        <td><label id="lbltipoLM"></label></td>
                                    </tr>
                                    <tr id="trFechaInicioLM">
                                        <td><strong>Fecha Inicio LM </strong></td>
                                        <td><label id="lblfechaInicioLM"></label></td>
                                    </tr>
                                    <tr id="trFechaTerminoLM">
                                        <td><strong>Fecha Término LM </strong></td>
                                        <td><label id="lblfechaTerminoLM"></label></td>
                                    </tr>
                                    <tr id="trCantidadDiasLM">
                                        <td><strong>Cantidad de Días </strong></td>
                                        <td><label id="lblCantidadDiasLM"></label></td>
                                    </tr>


                                    <tr>
                                        <td><strong>Quien Envía </strong></td>
                                        <td><label id="lblquienenvia"></label></td>
                                    </tr>
                                    <tr>
                                        <td><strong>Teléfono o Celular  </strong></td>
                                        <td><label id="lbltelefono"></label></td>
                                    </tr>
                                    <tr>
                                        <td><strong>Correo electrónico </strong></td>
                                        <td><label id="lblcorreo"></label></td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <button class="btn btn-warning" type="button" id="bt-bolver">Volver</button>
                                        </td>
                                    </tr>
                                </table>

                            </div>

                            <div class="col-lg-7 col-lg-offset-1">
                                <h4>Seguimiento de Licencia Médica</h4>
                                <!-- Timeline -->
                                <!--===================================================-->
                                <div class="timeline  contenedor-folios">


                                </div>
                                <!--===================================================-->
                                <!-- End Timeline -->

                            </div>
                        </div>

                    </form>
                    <!--===================================================-->
                    <!--End Block Styled Form -->

                </div>

            </div>




        </div>



    </div>
    <script>


        $(function () {

           

            var CodIng = httpGet("ci");

            
            $('.contenedor-folios').html("");
            $.SecGetJSON(BASE_URL + "/motor/api/Licencias/listar-Bitacora-CallCenter", { codIngreso: CodIng }, function (datos) {



                let glosa;
                let html = ``;
                let responsable;
                if (datos[0].EtapaId == 2) {// Devueltas Oficina
                    glosa = 'Estado LM: En espera gestión oficina';
                    responsable = 'Oficina';
                    html = `<div class="timeline-entry" >
                                     <div class="timeline-stat">` ;
                    html = html + `<div class="timeline-icon  bg-success"></div>`;
                    html = html + `<div class="timeline-time">${datos[0].FechaEtapa.toFecha()}</div>
                                     </div>`;
                    html = html + `<div class="timeline-label text-left" style="background-color:#398452;border-right-color:#398452">`;
                    html = html + ` <p class="mar-no pad-btm" style="color:#f5f5f5">Estado LM: ${glosa}</p><p style="color:#f5f5f5">Responsable : ${responsable}`;
                    html = html + `  </div>
                            </div>` ;

                    console.log(html);
                    //  $('.contenedor-folios').append(html);

                }
                if (datos[0].EtapaId == 10) {// carta certificada g1
                    glosa = 'En Espera de Gestión Carta Certificada';
                    responsable = 'Oficina';
                    html = `<div class="timeline-entry" >
                                     <div class="timeline-stat">` ;
                    html = html + `<div class="timeline-icon  bg-success"></div>`;
                    html = html + `<div class="timeline-time">${datos[0].FechaEtapa.toFecha()}</div>
                                     </div>`;
                    html = html + `<div class="timeline-label text-left" style="background-color:#398452;border-right-color:#398452">`;
                    html = html + ` <p class="mar-no pad-btm" style="color:#f5f5f5">Estado LM: ${glosa}</p><p style="color:#f5f5f5">Responsable : ${responsable}`;
                    html = html + `  </div>
                            </div>` ;

                    console.log(html);
                    //$('.contenedor-folios').append(html);
                }
                if (datos[0].EtapaId == 11) {// carta certificada g2
                    glosa = 'En Espera de Gestión Carta Certificada';
                    responsable = 'Oficina';
                    html = `<div class="timeline-entry" >
                                     <div class="timeline-stat">` ;
                    html = html + `<div class="timeline-icon  bg-success"></div>`;
                    html = html + `<div class="timeline-time">${datos[0].FechaEtapa.toFecha()}</div>
                                     </div>`;
                    html = html + `<div class="timeline-label text-left" style="background-color:#398452;border-right-color:#398452">`;
                    html = html + ` <p class="mar-no pad-btm" style="color:#f5f5f5">Estado LM: ${glosa}</p><p style="color:#f5f5f5">Responsable : ${responsable}`;
                    html = html + `  </div>
                            </div>` ;

                    console.log(html);
                    //$('.contenedor-folios').append(html);
                }

                if (datos[0].EtapaId == 7) {// Pronunciadas
                    glosa = 'En espera de Pronunciamiento';
                    responsable = 'RRLL';
                    html = `<div class="timeline-entry" >
                                     <div class="timeline-stat">` ;
                    html = html + `<div class="timeline-icon  bg-success"></div>`;
                    html = html + `<div class="timeline-time">${datos[0].FechaEtapa.toFecha()}</div>
                                     </div>`;
                    html = html + `<div class="timeline-label text-left" style="background-color:#398452;border-right-color:#398452">`;
                    html = html + ` <p class="mar-no pad-btm" style="color:#f5f5f5">Estado LM: ${glosa}</p><p style="color:#f5f5f5">Responsable : ${responsable}`;
                    html = html + `  </div>
                            </div>` ;

                    console.log(html);
                    //$('.contenedor-folios').append(html);
                }

                if (datos[0].Etapa == "Devueltas Pendientes TATA") {// Devueltas TATA
                    glosa = 'En Gestión Oficina "Devueltas TATA"';
                    responsable = 'RRLL';
                    html = `<div class="timeline-entry" >
                                     <div class="timeline-stat">` ;
                    html = html + `<div class="timeline-icon  bg-success"></div>`;
                    html = html + `<div class="timeline-time">${datos[0].FechaEtapa.toFecha()}</div>
                                     </div>`;
                    html = html + `<div class="timeline-label text-left" style="background-color:#398452;border-right-color:#398452">`;
                    html = html + ` <p class="mar-no pad-btm" style="color:#f5f5f5">Estado LM: ${glosa}</p><p style="color:#f5f5f5">Responsable : ${responsable}`;
                    html = html + `  </div>
                            </div>` ;

                    console.log(html);
                    //$('.contenedor-folios').append(html);
                }


                if (datos[0].Etapa == "Devueltas Pendientes COMPIN") {// Devueltas TATA
                    glosa = 'En Gestión RRLL "Devueltas Compin"';
                    responsable = datos[0].Responsable;
                    html = `<div class="timeline-entry" >
                                     <div class="timeline-stat">` ;
                    html = html + `<div class="timeline-icon  bg-success"></div>`;
                    html = html + `<div class="timeline-time">${datos[0].FechaEtapa.toFecha()}</div>
                                     </div>`;
                    html = html + `<div class="timeline-label text-left" style="background-color:#398452;border-right-color:#398452">`;
                    html = html + ` <p class="mar-no pad-btm" style="color:#f5f5f5">Estado LM: ${glosa}</p><p style="color:#f5f5f5">Responsable : ${responsable}`;
                    html = html + `  </div>
                            </div>` ;

                    console.log(html);
                    //$('.contenedor-folios').append(html);
                }


                if (datos[0].Etapa == "Devueltas Enviadas COMPIN") {// Devueltas Enviadas Compin
                    glosa = "En Espera de Reenvío a Compin";
                    responsable = datos[0].Responsable;
                    html = `<div class="timeline-entry" >
                                     <div class="timeline-stat">` ;
                    html = html + `<div class="timeline-icon  bg-success"></div>`;
                    html = html + `<div class="timeline-time">${datos[0].FechaEtapa.toFecha()}</div>
                                     </div>`;
                    html = html + `<div class="timeline-label text-left" style="background-color:#398452;border-right-color:#398452">`;
                    html = html + ` <p class="mar-no pad-btm" style="color:#f5f5f5">Estado LM: ${glosa}</p><p style="color:#f5f5f5">Responsable : ${responsable}`;
                    html = html + `  </div>
                            </div>` ;

                    console.log(html);
                    //$('.contenedor-folios').append(html);
                }

                var incStr;
                strng = datos[0].Etapa;
                incStr = strng.includes("No Tramitada");
                if (incStr == true) {
                    html = ``;
                }



                if (datos[0].Etapa == "Inicio Presencial") {// Pronunciadas
                    glosa = 'En espera de Pronunciamiento';
                    responsable = 'RRLL';
                    html = `<div class="timeline-entry" >
                                     <div class="timeline-stat">` ;
                    html = html + `<div class="timeline-icon  bg-success"></div>`;
                    html = html + `<div class="timeline-time">${datos[0].FechaEtapa.toFecha()}</div>
                                     </div>`;
                    html = html + `<div class="timeline-label text-left" style="background-color:#398452;border-right-color:#398452">`;
                    html = html + ` <p class="mar-no pad-btm" style="color:#f5f5f5">Estado LM: ${glosa}</p><p style="color:#f5f5f5">Responsable : ${responsable}`;
                    html = html + `  </div>
                            </div>` ;

                    console.log(html);
                    //$('.contenedor-folios').append(html);
                }

                if (datos[0].Etapa == "Reparada") {// Reparada Reenvío TATA
                    glosa = "En Espera Envío TATA";
                    responsable = "RRLL";
                    html = `<div class="timeline-entry" >
                                     <div class="timeline-stat">` ;
                    html = html + `<div class="timeline-icon  bg-success"></div>`;
                    html = html + `<div class="timeline-time">${datos[0].FechaEtapa.toFecha()}</div>
                                     </div>`;
                    html = html + `<div class="timeline-label text-left" style="background-color:#398452;border-right-color:#398452">`;
                    html = html + ` <p class="mar-no pad-btm" style="color:#f5f5f5">Estado LM: ${glosa}</p><p style="color:#f5f5f5">Responsable : ${responsable}`;
                    html = html + `  </div>
                            </div>` ;

                    console.log(html);
                    //$('.contenedor-folios').append(html);
                }


                $('.contenedor-folios').append(html);


                $("#lblfolic").text('');
                $("#lblRutAfiliado").text('');
                $("#lblfechaingreso").text('');
                $("#lblformato").text('');
                $("#lbloficina").text('');
                $("#lblquienenvia").text('');
                $("#lbltelefono").text('');
                $("#lblcorreo").text('');
                // console.log(datos);
                $.each(datos, function (i, licencia) {

                    $("#trTipoLM").show();
                    $("#trFechaInicioLM").show();
                    $("#trFechaTerminoLM").show();
                    $("#trCantidadDiasLM").show();
                    $("#lblfolic").text(licencia.FolioLicencia);
                    $("#lblRutAfiliado").text(licencia.RutAfiliado);
                    $("#lblfechaingreso").text(licencia.FechaIngreso.toFecha());
                    $("#lblformato").text(licencia.FormatoLM);
                    $("#lblCantidadDiasLM").text(licencia.DiasAutorizados);
                    $("#lblfechaInicioLM").text(licencia.FechaInicioLM.toFecha());
                    $("#lblfechaTerminoLM").text(licencia.FechaHastaLM.toFecha());
                    $("#lbltipoLM").text(licencia.TipoLM);
                    $("#lbloficina").text(licencia.Oficina);
                    $("#lblquienenvia").text(licencia.Quienenvia);
                    $("#lbltelefono").text(licencia.Telefono);
                    $("#lblcorreo").text(licencia.Email);

                    
                    if (licencia.Responsable != 'RRLL' || licencia.Etapa != 'Conforme') {
                        let html = `<div class="timeline-entry" >
                                     <div class="timeline-stat">` ;

                        //----------------Licencias esta pronunciada

                        if (licencia.EtapaId != 9 && licencia.EtapaId != 8) {
                            if (i == 0) {
                                if (licencia.EtapaId == 2) {
                                    html = html + `<div class="timeline-icon"></div>`;
                                }
                                else if (licencia.EtapaId == 10) {
                                    html = html + `<div class="timeline-icon"></div>`;
                                }
                                else if (licencia.EtapaId == 11) {
                                    html = html + `<div class="timeline-icon"></div>`;
                                }
                                else if (licencia.EtapaId == 7) {
                                    html = html + `<div class="timeline-icon"></div>`;
                                }
                                else if (datos[0].Etapa == "Devueltas Pendientes TATA") {// Devueltas TATA)
                                    html = html + `<div class="timeline-icon"></div>`;
                                }
                                else if (datos[0].Etapa == "Devueltas Pendientes COMPIN") {// Devueltas COMPIN)
                                    html = html + `<div class="timeline-icon"></div>`;
                                }
                                else if (datos[0].Etapa == "Devueltas Enviadas COMPIN") {// Devueltas Enviadas Compin
                                    html = html + `<div class="timeline-icon"></div>`;
                                }
                                else
                                    html = html + `<div class="timeline-icon  bg-success"></div>`;

                            }
                            else {
                                html = html + `<div class="timeline-icon"></div>`;

                            }
                        }

                        html = html + `<div class="timeline-time">${licencia.FechaEtapa.toFecha()}</div>
                                     </div>`;
                        
                        if (licencia.EtapaId != 9 && licencia.EtapaId != 8) {//pronunciadas
                            if (i == 0) {
                                if (licencia.EtapaId == 2) {
                                    html = html + `<div class="timeline-label text-left">`;
                                    html = html + ` <p class="mar-no pad-btm"  >Estado LM: ${licencia.Etapa}</p>`;
                                    html = html + ` <p class="mar-no pad-btm" > Responsable:  ${licencia.Responsable}</p>`;

                                }
                                else if (licencia.EtapaId == 10) {
                                    html = html + `<div class="timeline-label text-left">`;
                                    html = html + ` <p class="mar-no pad-btm"  >Estado LM: ${licencia.Etapa}</p>`;
                                    html = html + ` <p class="mar-no pad-btm" > Responsable:  ${licencia.Responsable}</p>`;

                                }
                                else if (licencia.EtapaId == 11) {
                                    html = html + `<div class="timeline-label text-left">`;
                                    html = html + ` <p class="mar-no pad-btm"  >Estado LM: ${licencia.Etapa}</p>`;
                                    html = html + ` <p class="mar-no pad-btm" > Responsable:  ${licencia.Responsable}</p>`;

                                }

                                else if (licencia.EtapaId == 7) {

                                    html = html + `<div class="timeline-label text-left" >`;
                                    html = html + ` <p class="mar-no pad-btm" >Estado LM: ${licencia.Estado}</p>`;
                                    html = html + ` <p class="mar-no pad-btm" > Responsable:  ${licencia.Responsable}</p>`;


                                } else if (licencia.EtapaId == 3 && licencia.Etapa == 'No Conforme') {

                                    html = html + `<div class="timeline-label text-left" style="background-color:#398452;border-right-color:#398452">`;
                                    html = html + ` <p class="mar-no pad-btm" style="color:#f5f5f5">Estado LM: ${licencia.Estado}</p>`;
                                    html = html + ` <p class="mar-no pad-btm" style="color:#f5f5f5"s> Responsable: Oficina</p>`;


                                }
                                else if (licencia.Etapa == 'Enviado TATA') {

                                    html = html + `<div class="timeline-label text-left" style="background-color:#398452;border-right-color:#398452">`;
                                    html = html + ` <p class="mar-no pad-btm" style="color:#f5f5f5">Estado LM: ${licencia.Estado}</p>`;
                                    // html = html + ` <p class="mar-no pad-btm" style="color:#f5f5f5"s> Responsable: Oficina</p>`;


                                }
                                else if (licencia.Etapa == 'Devueltas Pendientes COMPIN') {

                                    html = html + `<div class="timeline-label text-left" >`;
                                    html = html + ` <p class="mar-no pad-btm" >Estado LM: ${licencia.Estado}</p>`;
                                    //html = html + ` <p class="mar-no pad-btm" > Responsable: Oficina</p>`;
                                }
                                else if (licencia.Etapa == 'Devueltas Enviadas COMPIN') {// Devueltas Enviadas Compin
                                    html = html + `<div class="timeline-label text-left" >`;
                                    html = html + ` <p class="mar-no pad-btm" >Estado LM: ${licencia.Estado}</p>`;
                                    html = html + ` <p class="mar-no pad-btm" > Responsable:  ${licencia.Responsable}</p>`;
                                }
                                else {

                                    html = html + `<div class="timeline-label text-left" style="background-color:#398452;border-right-color:#398452">`;
                                    html = html + ` <p class="mar-no pad-btm" style="color:#f5f5f5">Estado LM: ${licencia.Estado}</p>`;
                                    html = html + ` <p class="mar-no pad-btm" style="color:#f5f5f5"> Responsable:  ${licencia.Responsable}</p>`;


                                }

                            }
                            else {

                                
                                if (licencia.Etapa == 'Pendiente TATA') {
                                    var strng;
                                    var incStr;
                                    strng = datos[i - 1].Estado.toString();
                                    incStr = strng.includes("Devuelta");
                                    if (incStr == true) {
                                        html = html + `<div class="timeline-label text-left">`;
                                        html = html + ` <p class="mar-no pad-btm"  >Estado LM: Devuelta RRLL </p>`;
                                        html = html + ` <p class="mar-no pad-btm"  >Estado Gestión: Revisión RRLL "No Conforme RRLL" </p>`;
                                        html = html + ` <p class="mar-no pad-btm" > Responsable:  ${licencia.Responsable}</p>`;
                                    }
                                    strng = datos[i - 1].Estado.toString();
                                    incStr = strng.includes("Envío");
                                    if (incStr == true) {
                                        //html =  ``;
                                        html = html + ` <p class="mar-no pad-btm"  >Estado LM: Enviado a TATA  </p>`;
                                        html = html + ` <p class="mar-no pad-btm" > Responsable:  ${licencia.Responsable}</p>`;

                                    }

                                    incStr = strng.includes("Enviado");
                                    if (incStr == true) {
                                        //html =  ``;
                                        html = html + ` <p class="mar-no pad-btm"  >Estado LM: Enviado a TATA  </p>`;
                                        html = html + ` <p class="mar-no pad-btm" > Responsable:  ${licencia.Responsable}</p>`;

                                    }
                                    if (licencia.FechaEtapa.toFecha() == '01-01-1900') {

                                        html = ``;
                                    }


                                }
                                else if (licencia.Etapa == 'Enviado TATA') {

                                    strng = datos[i - 1].Etapa.toString();
                                    incStr = strng.includes("Envío");
                                    if (strng === "Devueltas Pendientes TATA") {
                                        //html = ``;
                                        html = html + `<div class="timeline-label text-left">`;
                                        html = html + ` <p class="mar-no pad-btm"  >Estado LM: Enviado a TATA </p>`;
                                        html = html + ` <p class="mar-no pad-btm" > Responsable:  ${licencia.Responsable}</p>`;
                                    }
                                    else if (strng === "Subida a Plataforma Compin") {
                                        // html = ``;
                                        html = html + `<div class="timeline-label text-left">`;
                                        html = html + ` <p class="mar-no pad-btm"  >Estado LM: Enviado a TATA </p>`;
                                        html = html + ` <p class="mar-no pad-btm" > Responsable:  ${licencia.Responsable}</p>`;
                                    }
                                    else if (strng === "Conforme") {
                                        // html = ``;
                                        html = html + `<div class="timeline-label text-left">`;
                                        html = html + ` <p class="mar-no pad-btm"  >Estado LM: Enviado a TATA </p>`;
                                        html = html + ` <p class="mar-no pad-btm" > Responsable:  ${licencia.Responsable}</p>`;
                                    }


                                    else {

                                        html = html + `<div class="timeline-label text-left" style="background-color:#398452;border-right-color:#398452">`;
                                        html = html + ` <p class="mar-no pad-btm" style="color:#f5f5f5">Estado LM: ${licencia.Estado}</p>`;
                                        html = html + ` <p class="mar-no pad-btm" style="color:#f5f5f5"s> Responsable: Oficina</p>`;

                                    }


                                }


                                else {

                                    html = html + `<div class="timeline-label text-left">`;
                                    html = html + ` <p class="mar-no pad-btm"  >Estado LM: ${licencia.Estado}</p>`;
                                    html = html + ` <p class="mar-no pad-btm" > Responsable:  ${licencia.Responsable}</p>`;
                                }


                            }

                        }
                        //Pronciadas
                        if (licencia.EtapaId == 9) {

                            html = html + `<div class="timeline-label text-left" style="background-color:#398452;border-right-color:#398452">`;
                            html = html + ` <p class="mar-no pad-btm" style="color:#f5f5f5">${licencia.Estado}</p>`;

                        }
                        if (licencia.EtapaId == 8) {

                            html = html + `<div class="timeline-label text-left" style="background-color:#398452;border-right-color:#398452">`;
                            html = html + ` <p class="mar-no pad-btm" style="color:#f5f5f5">${licencia.Estado}</p>`;

                        }

                        html = html + `  </div>
                            </div>` ;

                        console.log(html);
                        $('.contenedor-folios').append(html);

                    }
                });

            });


            $("#bt-bolver").on("click", function () {
                // location.href = BASE_URL + "/motor/App/Licencias"
                location.href = "javascript:history.back()";
            });


        });

    </script>

</body>
</html>


<!--===================================================-->
<!--End page content-->

