
@{

    Layout = "~/Areas/AppPage/Views/Shared/_Layout.cshtml";
}
<link href="~/Assets/plugins/switchery/switchery.min.css" rel="stylesheet">
<link href="~/Assets/plugins/magic-check/css/magic-check.min.css" rel="stylesheet">
<link href="~/Assets/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
<link href="~/Assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet">
<link href="~/Assets/plugins/chosen/chosen.min.css" rel="stylesheet">
<link href="~/Assets/plugins/magic-check/css/magic-check.min.css" rel="stylesheet">
<link href="~/Assets/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">
<link href="~/Assets/plugins/morris-js/morris.min.css" rel="stylesheet">

<link href="~/Assets/plugins/dropzone/dropzone.min.css" rel="stylesheet">
<script src="~/Assets/plugins/dropzone/dropzone.min.js"></script>


<style>


    #overlay {
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5); /* Black background with opacity */
        z-index: 9999; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
    }


    #text {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 40px;
        color: white;
        transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
    }
</style>
<div id="page-content">
    <div class="tab-base">
        <!--Nav Tabs-->
        <ul class="nav nav-tabs" id="myTab">
            <li class="active">
                <a data-toggle="tab" href="#tab-proceso-carga" aria-expanded="true" id="tab_carga" class="tab-principal">CARGA DE NOMINAS</a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#tab-diferencia-cotiz" aria-expanded="true" id="tab_diferenciaCotiz" class="tab-principal">DIFERENCIAS DE COTIZACIONES</a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#tab-cotiz-impagas" aria-expanded="true" id="tab_busqueda" class="tab-principal">COTIZACIONES IMPAGAS</a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#tab-cotiz-declaradas" aria-expanded="true" id="tab_busqueda" class="tab-principal">COTIZACIONES DECLARADAS Y NO PAGADAS</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="tab-proceso-carga" class="tab-pane fade active in">
                <div class="panel" style="border-radius: 7px;">
                    <div class="panel-heading">
                        <h3 class="panel-title">Proceso de Carga</h3>
                    </div>


                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab" href="#tab-diferencia-carga" aria-expanded="true" id="tab-diferencia" class="tab-principal">Carga Diferencias de cotizaciones</a>
                        </li>
                        <li class="">
                            <a data-toggle="tab" href="#tab-impagas-carga" aria-expanded="true" id="tab-impagas" class="tab-principal">Carga Cotizaciones Impagas</a>
                        </li>
                        <li class="">
                            <a data-toggle="tab" href="#tab-no-declaradas-carga" aria-expanded="true" id="tab-no-declaradas" class="tab-principal"> Carga Cotizaciones declaradas y no pagadas</a>
                        </li>

                    </ul>
                    <div class="tab-content">
                        <div id="tab-diferencia-carga" class="tab-pane fade active in">
                            <hr />
                            <div class="row">


                                <input id="radio-diferencias-actualizar-carga" class="magic-radio" type="radio" name="radio-diferencias-actulizar-carga">
                                <label for="radio-diferencias-actualizar-carga">Actualizar Carga</label>

                                <input id="radio-diferencias-nueva-carga" class="magic-radio" type="radio" name="radio-diferencias-nueva-carga">
                                <label for="radio-diferencias-nueva-carga">Nueva Carga</label>
                                <div class="col-lg-12" style="margin-top: -20px; margin-left: 250px;">
                                    <div class="input-group">
                                        <button id="btn_carga_Dif_Cotizaciones" class="btn btn-success btn-rounded" data-toggle="modal" data-target="#md-carga-Datos" data-backdrop="static" data-keyboard="false">Diferencia Cotizaciones</button>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <hr />
                                <div class="pad-btm">

                                    <div id="pnl-carga" class="col-lg-12">
                                        <div class="col-lg-12" style="margin-top:20px;">
                                            <h4>Resumen de Carga</h4>
                                        </div>
                                        <table id="tabla-cobranza-previsional" class="table table-bordered table-hover toggle-circle" data-page-size="10">
                                            <thead>
                                                <tr>
                                                    @*<th data-hide="phone">Período Cargado</th>*@
                                                    <th data-hide="phone">Registros Cargados</th>
                                                    <th data-hide="phone">Nombre Ejecutivo</th>
                                                    <th data-hide="phone">Fecha Carga</th>
                                                    @*<th data-hide="phone">Estado</th>*@
                                                </tr>
                                            </thead>
                                            <tbody id="bdy_datos" style="margin-top:37px"></tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="10">

                                                        <div class="text-right">
                                                            <ul class="pagination"></ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="tab-impagas-carga" class="tab-pane fade">
                            <hr />
                            <div class="row">


                                <input id="radio-cot-impagas-actualizar-carga" class="magic-radio" type="radio" name="radio-cot-impagas-actualizar-carga">
                                <label for="radio-cot-impagas-actualizar-carga">Actualizar Carga</label>

                                <input id="radio-cot-impagas-nueva-carga" class="magic-radio" type="radio" name="radio-cot-impagas-nueva-carga">
                                <label for="radio-cot-impagas-nueva-carga">Nueva Carga</label>
                                <div class="col-lg-12" style="margin-top: -20px; margin-left: 250px;">
                                    <div class="input-group">
                                        <button id="btn_carga_Cot_impagas" class="btn btn-success btn-rounded" data-toggle="modal" data-target="#md-carga-Datos-cot-impagas" data-backdrop="static" data-keyboard="false">Cotizaciones Impagas</button>
                                    </div>
                                </div>


                            </div>
                            <div class="panel-body">
                                <hr />
                                <div class="pad-btm">

                                    <div class="col-lg-12">
                                        <div class="col-lg-12" style="margin-top:20px;">
                                            <h4>Resumen de Carga</h4>
                                        </div>
                                        <table id="tabla-cot-impagas" class="table table-bordered table-hover toggle-circle" data-page-size="10">
                                            <thead>
                                                <tr>
                                                    @*<th data-hide="phone">Período Cargado</th>*@
                                                    <th data-hide="phone">Registros Cargados</th>
                                                    <th data-hide="phone">Nombre Ejecutivo</th>
                                                    <th data-hide="phone">Fecha Carga</th>
                                                    @*<th data-hide="phone">Estado</th>*@
                                                </tr>
                                            </thead>
                                            <tbody id="bdy_datos_cot_imp" style="margin-top:37px"></tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="10">

                                                        <div class="text-right">
                                                            <ul class="pagination"></ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="tab-no-declaradas-carga" class="tab-pane fade">
                            <hr />
                            <div class="row">


                                <input id="radio-no-declaradas-actualizar-carga" class="magic-radio" type="radio" name="radio-no-declaradas-actualizar-carga">
                                <label for="radio-no-declaradas-actualizar-carga">Actualizar Carga</label>

                                <input id="radio-no-declaradas-nueva-carga" class="magic-radio" type="radio" name="radio-no-declaradas-nueva-carga">
                                <label for="radio-no-declaradas-nueva-carga">Nueva Carga</label>
                                <div class="col-lg-12" style="margin-top: -20px; margin-left: 250px;">
                                    <div class="input-group">
                                        <button id="btn_carga_no_declaradas" class="btn btn-success btn-rounded" data-toggle="modal" data-target="#md-carga-Datos-no-declaradas" data-backdrop="static" data-keyboard="false">Cotizaciones Declaradas y No Pagadas</button>
                                    </div>
                                </div>


                            </div>
                            <div class="panel-body">
                                <hr />
                                <div class="pad-btm">

                                    <div class="col-lg-12">
                                        <div class="col-lg-12" style="margin-top:20px;">
                                            <h4>Resumen de Carga</h4>
                                        </div>
                                        <table id="tabla-no-declaradas" class="table table-bordered table-hover toggle-circle" data-page-size="10">
                                            <thead>
                                                <tr>
                                                    @*<th data-hide="phone">Período Cargado</th>*@
                                                    <th data-hide="phone">Registros Cargados</th>
                                                    <th data-hide="phone">Nombre Ejecutivo</th>
                                                    <th data-hide="phone">Fecha Carga</th>
                                                    @*<th data-hide="phone">Estado</th>*@
                                                </tr>
                                            </thead>
                                            <tbody id="bdy_datos_no_declaradas" style="margin-top:37px"></tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="10">

                                                        <div class="text-right">
                                                            <ul class="pagination"></ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div id="tab-diferencia-cotiz" class="tab-pane">
                <div class="panel" style="border-radius: 7px;">
                    <div class="panel-heading">
                        <h3 class="panel-title">FILTROS</h3>
                    </div>
                    <div class="panel-body">
                        <div id="msjCalidad"></div>
                        <div class="row">
                            <div class="col-sm-3 text-xs-center">
                                <div class="form-group">
                                    <label class="control-label">ESTADO</label>
                                    <select class="form-control" id="dllEstado" name="dllEstado" v-on:change="eventoCambiaEstadoCobranza" v-model="modelos.estados">
                                        <option value="">TODOS...</option>
                                        <option v-for="eEstado in filtros.estados" :value="eEstado.id">{{eEstado.nombre}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3 text-xs-center">
                                <div class="form-groupsubEstadosIgn">
                                    <label class="control-label">SUB-ESTADO</label>
                                    <select class="form-control" id="dllSubEstado" name="dllSubEstado" v-model="modelos.subEstados">
                                        <option value="">TODOS...</option>
                                        <option v-for="eSubEstado in filtros.subEstados" :value="eSubEstado.id">{{eSubEstado.nombre}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-1 text-xs-center">
                                <div class="form-group">
                                    <label class="control-label"></label>
                                    <button class="btn btn-primary btn-rounded" v-on:click="cargaLeadFiltroDiferenciCotizacion" id="btnInicia" style="margin-top: 21px;">FILTRAR</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel" style="border-radius: 7px;">
                            <div class="panel-heading">
                                <h3 class="panel-title">DATOS</h3>
                            </div>
                            <div class="panel-body">
                                <table data-toggle="table"
                                       data-sort-name="id"
                                       data-page-list="[]"
                                       data-page-size="50"
                                       data-search="false"
                                       data-pagination="true" id="tbDiferencia" style="font-size: 11px">
                                    <thead>
                                        <tr>
                                            <th data-field="rut" data-sortable="true" data-formatter="formaterRut">RUT</th>
                                            <th data-field="razon_social" data-sortable="true">RAZON SOCIAL</th>
                                            <th data-field="diferencia_cotizacion" data-sortable="true">DIFER. COTIZA.</th>
                                            <th data-field="saldo_favor_caja" data-sortable="true" data-formatter="formaterNum">SALDO FAVOR CAJA</th>
                                            <th data-field="deuda_generada" data-sortable="true" data-formatter="formaterNum">DEUDA GENERADA</th>
                                            <th data-field="ultimaGestion.estado" data-sortable="true">ESTADO</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-cotiz-impagas" class="tab-pane fade">
                @Html.Partial("cotizacionesImpagas")
            </div>
            <div id="tab-cotiz-declaradas" class="tab-pane fade">
                @Html.Partial("ctzDeclaradaNoPagada")
            </div>
        </div>
    </div>
</div>
<div id="modal_cobranza" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-radius: 9px;">
            <div class="modal-header" style="background: #337ab7;">
                <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                <h4 class="modal-title" style="color: #f1f1f1;">GESTION DIFERENCIA COTIZACIONES</h4>
            </div>
            <div id="msCall"></div>
            <div class="modal-body">
                <div class="tab-base" id="MDL_Primario_cobranza" style="margin-bottom: 0px !important;">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab" href="#tab-gestion-cobranza" aria-expanded="false">Gestión</a>
                        </li>
                        <li class="">
                            <a data-toggle="tab" href="#tab-historial-cobranza" aria-expanded="false">Historial</a>
                        </li>
                    </ul>
                    <div class="tab-content" style="box-shadow: 0 0 0 !important;">
                        <div id="tab-gestion-cobranza" class="tab-pane fade active in">
                            <div class="panel" style="border-radius: 7px;">
                                <div class="panel-body">
                                    <div id="msjCall"></div>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label class="control-label">RUT</label>
                                                <input class="form-control" :value="dataModal.rut" id="txtRutDif" type="text" disabled>
                                            </div>
                                        </div>
                                        -
                                        <div class="col-sm-1">
                                            <div class="form-group">
                                                <label class="control-label">DV</label>
                                                <input class="form-control" :value="dataModal.dv" id="txtDvDif" type="text" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <label class="control-label">RAZON SOCIAL</label>
                                                <input class="form-control" :value="dataModal.razon_social" id="txtRazonSocial" type="text" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">ASFAM AUTORIZADA CAJA</label>
                                                <input class="form-control numero" type="text" :value="dataModal.asfam_autorizada" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">Asfam Informada Empresa (A)</label>
                                                <input class="form-control numero" type="text" :value="dataModal.asfan_informada" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">ASFAM Aceptado Liquidado Caja (B)</label>
                                                <input class="form-control numero" type="text" :value="dataModal.asfan_aceptado" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">Diferencia ASFAM (B-A)</label>
                                                <input class="form-control numero" type="text" :value="dataModal.diferencia_asfan" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">Cotización Informada Empresa (C)</label>
                                                <input class="form-control numero" type="text" :value="dataModal.cotizacion_informada" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">Cotización Calculada Caja (D)</label>
                                                <input class="form-control numero" type="text" :value="dataModal.cotizacion_calculada" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">Diferencia Cotización (C-D)</label>
                                                <input class="form-control numero" type="text" :value="dataModal.diferencia_cotizacion" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">Saldo a Favor Caja Pagado por empresa</label>
                                                <input class="form-control numero" type="text" :value="dataModal.saldo_favor_caja" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">Deuda Generada (A-B)- (C-D)</label>
                                                <input class="form-control numero" type="text" :value="dataModal.deuda_generada" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel" style="border-radius: 7px;">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">ESTADO</label>
                                                <select class="form-control" id="dllEstadoCBModal" name="dllEstadoCBModal" v-on:change="eventoCambiaEstadoCobranzaModal" v-model="modelos.estadosModal">
                                                    <option value="">Seleccione...</option>
                                                    <option v-for="estadoCall in filtros.estadosModal" :value="estadoCall.id">{{estadoCall.nombre}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">SUB-ESTADO</label>
                                                <select class="form-control" id="dllSubEstadoCbModal" name="dllSubEstadoCbModal"  v-model="modelos.subEstadosModal" >
                                                    <option value="">Seleccione...</option>
                                                    <option v-for="subEstadoModal in filtros.subEstadosModal" :value="subEstadoModal.id">{{subEstadoModal.nombre}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-4" id="divSubEstado2" style="display:none">
                                            <div class="form-group">
                                                <label class="control-label">SUB-ESTADO 2</label>
                                                <select class="form-control" id="dllSubEstadoCbModal2" name="dllSubEstadoCbModal2" >
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">OBSERVACION</label>
                                        <textarea rows="3" id="txtobservacionDiferencia" name="txtobservacionDiferencia" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button data-dismiss="modal" class="btn btn-default" type="button">Cerrar</button>
                                <button class="btn btn-primary" v-on:click="handleSubmitGuadarGestion">Guardar</button>
                            </div>
                        </div>
                        <div id="tab-historial-cobranza" class="tab-pane fade">
                            <div class="list-group" style="min-height:290px;">
                                <div v-for="gestion in dataModalHist">
                                    <a href="#">
                                        <h4 class="list-group-item-heading"><strong>Gestor: </strong>{{gestion.rut_ejecutivo != undefined && gestion.rut_ejecutivo}}</h4>
                                        <p class="list-group-item-text">
                                            <strong>Fecha Gestión: </strong>{{gestion.fecha_gestion != undefined && gestion.fecha_gestion.toFechaHoraPrueba()}}, @*<strong>Fecha Compromiso: </strong>
                                                {{gestion.fechaCompromiso != undefined && gestion.fechaCompromiso !=null ? gestion.fechaCompromiso: '------'}}*@
                                        </p>
                                        <p class="list-group-item-text">
                                            <strong>Estado: </strong>{{gestion.estado != undefined && gestion.estado != null ? gestion.estado: '------'}}
                                            <strong>Sub-Estado: </strong>{{gestion.subEstado != undefined && gestion.subEstado != null ? gestion.subEstado: '------'}}
                                        </p>
                                        <p class="list-group-item-text">
                                            <strong>Comentarios: </strong> {{gestion.observacion}}
                                        </p>
                                    </a>
                                    <hr />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal_impagas" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-radius: 9px;">
            <div class="modal-header" style="background: #337ab7;">
                <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                <h4 class="modal-title" style="color: #f1f1f1;">GESTION COTIZACIONES IMPAGAS</h4>
            </div>
            <div id="msCall"></div>
            <div class="modal-body">
                <div class="tab-base" id="MDL_Primario_cobranza" style="margin-bottom: 0px !important;">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab" href="#tab-gestion-impago" aria-expanded="false">Gestión</a>
                        </li>
                        <li class="">
                            <a data-toggle="tab" href="#tab-historial-impago" aria-expanded="false">Historial</a>
                        </li>
                    </ul>
                    <div class="tab-content" style="box-shadow: 0 0 0 !important;">
                        <div id="tab-gestion-impago" class="tab-pane fade active in">
                            <div class="panel" style="border-radius: 7px;">
                                <div class="panel-body">
                                    <div id="msjCall"></div>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label class="control-label">RUT</label>
                                                <input class="form-control" :value="dataModal.rut" id="txtRutImp" type="text" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-1">
                                            <div class="form-group">
                                                <label class="control-label">DV</label>
                                                <input class="form-control" :value="dataModal.dv" id="txtDvImp" type="text" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-9">
                                            <div class="form-group">
                                                <label class="control-label">RAZON SOCIAL</label>
                                                <input class="form-control" :value="dataModal.razon_social" id="txtRazonSocialImp" type="text" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label">ULTIMA COTIZACION PAGADA</label>
                                                <input class="form-control" type="text" :value="dataModal.ultima_cotizacion_pagada" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label">N° TRABAJADORES</label>
                                                <input class="form-control numero" type="text" :value="dataModal.n_trabajadores" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label">MONTO COTIZACION</label>
                                                <input class="form-control numero" type="text" :value="dataModal.monto_cotizacion" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label">MESES IMPAGOS</label>
                                                <input class="form-control numero" type="text" :value="dataModal.meses_impagos" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">SUCURSAL</label>
                                                <input class="form-control" type="text" :value="dataModal.nombre_oficina" disabled>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="panel" style="border-radius: 7px;">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">ESTADO</label>
                                                <select class="form-control" id="dllEstadoCBModalImp" name="dllEstadoCBModalImp" v-on:change="eventoCambiaEstadoCobranzaModal" v-model="modelos.estadosModal">
                                                    <option value="">Seleccione...</option>
                                                    <option v-for="estadoCall in filtros.estadosModal" :value="estadoCall.id">{{estadoCall.nombre}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">SUB-ESTADO</label>
                                                <select class="form-control" id="dllSubEstadoCbModalImp" name="dllSubEstadoCbModalImp" v-model="modelos.subEstadosModal">
                                                    <option value="">Seleccione...</option>
                                                    <option v-for="subEstadoModal in filtros.subEstadosModal" :value="subEstadoModal.id">{{subEstadoModal.nombre}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-4" id="divImpagasSubEstado2" style="display:none">
                                            <div class="form-group">
                                                <label class="control-label">SUB-ESTADO 2</label>
                                                <select class="form-control" id="dllSubEstadoCbModalImp2" name="dllSubEstadoCbModalImp2"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">OBSERVACION</label>
                                        <textarea rows="3" id="txtobservacionImp" name="txtobservacionImp" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button data-dismiss="modal" class="btn btn-default" type="button">Cerrar</button>
                                <button class="btn btn-primary" v-on:click="handleSubmitGuadarGestionImp">Guardar</button>
                            </div>
                        </div>
                        <div id="tab-historial-impago" class="tab-pane fade">
                            <div class="list-group" style="min-height:290px;">
                                <div v-for="gestion in dataModalHist">
                                    <a href="#">
                                        <h4 class="list-group-item-heading"><strong>Gestor: </strong>{{gestion.rut_ejecutivo != undefined && gestion.rut_ejecutivo}}</h4>
                                        <p class="list-group-item-text">
                                            <strong>Fecha Gestión: </strong>{{gestion.fecha_gestion != undefined && gestion.fecha_gestion.toFechaHoraPrueba()}}, @*<strong>Fecha Compromiso: </strong>
                                                {{gestion.fechaCompromiso != undefined && gestion.fechaCompromiso !=null ? gestion.fechaCompromiso: '------'}}*@
                                        </p>
                                        <p class="list-group-item-text">
                                            <strong>Estado: </strong>{{gestion.estado != undefined && gestion.estado != null ? gestion.estado: '------'}}
                                            <strong>Sub-Estado: </strong>{{gestion.subEstado != undefined && gestion.subEstado != null ? gestion.subEstado: '------'}}
                                        </p>
                                        <p class="list-group-item-text">
                                            <strong>Comentarios: </strong> {{gestion.observacion}}
                                        </p>
                                    </a>
                                    <hr />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal_declarada" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-radius: 9px;">
            <div class="modal-header" style="background: #337ab7;">
                <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                <h4 class="modal-title" style="color: #f1f1f1;">GESTION COTIZACIONES DECLARADAS Y NO PAGADAS</h4>
            </div>
            <div class="modal-body">
                <div class="tab-base" id="MDL_Primario_declarada" style="margin-bottom: 0px !important;">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab" href="#tab-gestion-declarada" aria-expanded="false">Gestión</a>
                        </li>
                        <li class="">
                            <a data-toggle="tab" href="#tab-historial-declarada" aria-expanded="false">Historial</a>
                        </li>
                    </ul>
                    <div class="tab-content" style="box-shadow: 0 0 0 !important;">
                        <div id="tab-gestion-declarada" class="tab-pane fade active in">
                            <div class="panel" style="border-radius: 7px;">
                                <div class="panel-body">
                                    <div id="msjCall"></div>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label class="control-label">RUT</label>
                                                <input class="form-control" :value="dataModal.rut" id="txtRutDec" type="text" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-1">
                                            <div class="form-group">
                                                <label class="control-label">DV</label>
                                                <input class="form-control" :value="dataModal.dv" id="txtDvDec" type="text" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-9">
                                            <div class="form-group">
                                                <label class="control-label">RAZON SOCIAL</label>
                                                <input class="form-control" :value="dataModal.nombre_empresa" id="txtRazonSocialDec" type="text" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">FOLIO CARATULA</label>
                                                <input class="form-control" type="text" :value="dataModal.folio_caratula" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">COD. BARRA</label>
                                                <input class="form-control" type="text" :value="dataModal.cod_barra" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">PERIODO COTIZACION</label>
                                                <input class="form-control" type="text" :value="dataModal.periodo_cot" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">FECHA DECLARACION</label>
                                                <input class="form-control" type="text" :value="dataModal.fecha_declaracion" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">RENTA FONASA</label>
                                                <input class="form-control numero" type="text" :value="dataModal.renta_fonasa" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">RENTA ISAPRE</label>
                                                <input class="form-control numero" type="text" :value="dataModal.renta_isapre" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">RENTAL TOTAL</label>
                                                <input class="form-control numero" type="text" :value="dataModal.renta_total" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">MONTO COTIZACION</label>
                                                <input class="form-control numero" type="text" :value="dataModal.monto_cotizacion" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">TOTAL ASFAM</label>
                                                <input class="form-control numero" type="text" :value="dataModal.total_asfam" disabled>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">SALDO CAJA PLAN</label>
                                                <input class="form-control numero" type="text" :value="dataModal.saldo_caja_plan" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">MONTO DECLARADO</label>
                                                <input class="form-control numero" type="text" :value="dataModal.monto_declarado" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">TOTAL TRABAJADORES</label>
                                                <input class="form-control numero" type="text" :value="dataModal.total_trabajador" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">ESTADO</label>
                                                <input class="form-control" type="text" :value="dataModal.estado" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel" style="border-radius: 7px;">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">ESTADO</label>
                                                <select class="form-control" id="dllEstadoCBModalDec" name="dllEstadoCBModalDec" v-on:change="eventoCambiaEstadoDecModal" v-model="modelos.estadosModal">
                                                    <option value="">Seleccione...</option>
                                                    <option v-for="estadoCall in filtros.estadosModal" :value="estadoCall.id">{{estadoCall.nombre}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">SUB-ESTADO</label>
                                                <select class="form-control" id="dllSubEstadoCbModalDec" name="dllSubEstadoCbModalDec" v-model="modelos.subEstadosModal">
                                                    <option value="">Seleccione...</option>
                                                    <option v-for="subEstadoModal in filtros.subEstadosModal" :value="subEstadoModal.id">{{subEstadoModal.nombre}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-4" id="divDecSubEstado2" style="display:none">
                                            <div class="form-group">
                                                <label class="control-label">SUB-ESTADO 2</label>
                                                <select class="form-control" id="dllSubEstadoCbModalDec2" name="dllSubEstadoCbModalDec2" ></select>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">OBSERVACION</label>
                                        <textarea rows="3" id="txtobservacionDec" name="txtobservacionDec" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button data-dismiss="modal" class="btn btn-default" type="button">Cerrar</button>
                                <button class="btn btn-primary" v-on:click="handleSubmitGuadarGestionDec">Guardar</button>
                            </div>
                        </div>
                        <div id="tab-historial-declarada" class="tab-pane fade">
                            <div class="list-group" style="min-height:290px;">
                                <div v-for="gestion in dataModalHist">
                                    <a href="#">
                                        <h4 class="list-group-item-heading"><strong>Gestor: </strong>{{gestion.rut_ejecutivo != undefined && gestion.rut_ejecutivo}}</h4>
                                        <p class="list-group-item-text">
                                            <strong>Fecha Gestión: </strong>
                                              {{gestion.fecha_gestion != undefined && gestion.fecha_gestion.toFechaHoraPrueba()}}, 
                                        </p>
                                        <p class="list-group-item-text">
                                            <strong>Estado: </strong>{{gestion.estado != undefined && gestion.estado != null ? gestion.estado: '------'}}
                                            <strong>Sub-Estado: </strong>{{gestion.subEstado != undefined && gestion.subEstado != null ? gestion.subEstado: '------'}}
                                        </p>
                                        <p class="list-group-item-text">
                                            <strong>Comentarios: </strong> {{gestion.observacion}}
                                        </p>
                                    </a>
                                    <hr />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div id="md-carga-Datos" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-radius: 6px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                <h4 class="modal-title">Cargar Proceso Diferencia de Cotizaciones </h4>
            </div>
            <form id="form_registro_anexoUp" action="#" method="post">
                <div class="panel-body">

                    <div class="panel panel-bordered-primary" id="panel_Carga" style="border-color: #e6e6e6;">
                        <div class="panel-body">
                            <div id="dzMain" class="dropzone demo-dropzone">
                                <div class="dz-default dz-message">
                                    <div class="dz-icon">
                                        <i class="demo-pli-upload-to-cloud icon-5x"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </form>
        </div>
    </div>
</div>


<div id="md-carga-Datos-cot-impagas" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-radius: 6px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                <h4 class="modal-title">Cargar Proceso Cotizaciones Impagas </h4>
            </div>
            <form id="form_registro_cot_impagas" action="#" method="post">
                <div class="panel-body">

                    <div class="panel panel-bordered-primary" style="border-color: #e6e6e6;">
                        <div class="panel-body">
                            <div id="dzMainImpagas" class="dropzone demo-dropzone">
                                <div class="dz-default dz-message">
                                    <div class="dz-icon">
                                        <i class="demo-pli-upload-to-cloud icon-5x"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </form>
        </div>
    </div>
</div>


<div id="md-carga-Datos-no-declaradas" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-radius: 6px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                <h4 class="modal-title">Cargar Proceso Cotizaciones Declaradas y No Pagadas </h4>
            </div>
            <form id="form_registro_no_declaradas" action="#" method="post">
                <div class="panel-body">

                    <div class="panel panel-bordered-primary" style="border-color: #e6e6e6;">
                        <div class="panel-body">
                            <div id="dzMainNodeclaradas" class="dropzone demo-dropzone">
                                <div class="dz-default dz-message">
                                    <div class="dz-icon">
                                        <i class="demo-pli-upload-to-cloud icon-5x"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>



<div id="overlay">
    <div id="text">Validando Informe, por favor espere...</div>
</div>
@section script{
    <script src="~/Assets/js/vue.js"></script>
    <script src="~/Assets/plugins/bootstrap-validator/bootstrapValidator.min.js"></script>
    <script src="~/Assets/plugins/fooTable/dist/footable.all.min.js"></script>
    <script src="~/Assets/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/Assets/plugins/select2/js/select2.min.js"></script>
    <script src="~/Assets/plugins/chosen/chosen.jquery.min.js"></script>
    <script src="~/Assets/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="~/Assets/plugins/bootstrap-table/locale/bootstrap-table-es-ES.min.js"></script>
    <script src="~/Assets/plugins/switchery/switchery.min.js"></script>
    <script src="~/Assets/plugins/bootbox/bootbox.min.js"></script>
    <script src="~/Assets/tam/deps/sweetalert.js"></script>
    <script src="~/Assets/plugins/morris-js/morris.min.js"></script>
    <script src="~/Assets/plugins/morris-js/raphael-js/raphael.min.js"></script>
    <!--Bootstrap Select [ OPTIONAL ]-->
    <script src="~/Assets/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/Assets/js.App/src/cobranza-previsional.js?g=@Guid.NewGuid().ToString()"></script>

}
<script>

    var carga = {
        ValidaUsuarioCarga: function () {
            $("#bdy_datos").html("");
            $.SecGetJSON(BASE_URL + "/motor/api/CobranzaPrevisional/valida-usuario-carga", { Rut: getCookie("Rut") }, function (respuesta) {
        
                if (respuesta == 1) {
                    
                    $('#tab_carga').css('display', 'block');
                   
                }
                else {
                    $('#tab_carga').css('display', 'none');  
                    $('#myTab a[href="#tab-diferencia-cotiz"]').tab('show');
                }
            });

        },          

        cargaListaResumen: function (codigo, estado) {
            $("#bdy_datos").html("");
            $.SecGetJSON(BASE_URL + "/motor/api/CobranzaPrevisional/lista-Resumen", { codigo, estado }, function (respuesta) {

                $.each(respuesta, function (i, e) {

                    $("#bdy_datos").append(
                        $("<tr>")
                            //.append($("<td>").html(e.Periodo))
                            .append($("<td>").html(e.Linea))
                            .append($("<td>").html(e.NombreEjecutivo))
                            .append($("<td>").html(e.FechaCarga.toFecha()))
                            //.append($("<td>").html(e.Falla))



                    );

                });

            });

        },
        cargaListaResumenCotImpagas: function (codigo, estado) {
            $("#bdy_datos_cot_imp").html("");
            $.SecGetJSON(BASE_URL + "/motor/api/CobranzaPrevisional/lista-Resumen", { codigo, estado }, function (respuesta) {
                $.each(respuesta, function (i, e) {
                    $("#bdy_datos_cot_imp").append(
                        $("<tr>")
                            //.append($("<td>").html(e.Periodo))
                            .append($("<td>").html(e.Linea))
                            .append($("<td>").html(e.NombreEjecutivo))
                            .append($("<td>").html(e.FechaCarga.toFecha()))
                            //.append($("<td>").html(e.Falla))
                    );
                });
            });
        },
        cargaListaResumenNoPagadas: function (codigo, estado) {
            $("#bdy_datos_no_declaradas").html("");
            $.SecGetJSON(BASE_URL + "/motor/api/CobranzaPrevisional/lista-Resumen", { codigo, estado }, function (respuesta) {
                $.each(respuesta, function (i, e) {
                    $("#bdy_datos_no_declaradas").append(
                        $("<tr>")
                            //.append($("<td>").html(e.Periodo))
                            .append($("<td>").html(e.Linea))
                            .append($("<td>").html(e.NombreEjecutivo))
                            .append($("<td>").html(e.FechaCarga.toFecha()))
                            //.append($("<td>").html(e.Falla))
                    );
                });
            });
        },
        CargaComboSubEstados: function (IdSubPadre) {
       
            $.SecGetJSON(BASE_URL + "/motor/api/CobranzaPrevisional/lista-subMenu-2",{ IdSubPadre }, function (datos) {
             
                $("#dllSubEstadoCbModal2").html("");
                $("#dllSubEstadoCbModal2").append($("<option>").val("-1").html("Seleccione...").data("id", "-1").data("nombre", "Seleccione..."));
                $.each(datos, function (i, estado) {

                    $("#dllSubEstadoCbModal2").append($("<option>").val(estado.Id).html(estado.Nombre).data("id", estado.Id).data("nombre", estado.Nombre));
                });

            });
        },
        CargaComboSubEstadosImpagas: function (IdSubPadre) {
          
            $.SecGetJSON(BASE_URL + "/motor/api/CobranzaPrevisional/lista-subMenu-2", { IdSubPadre }, function (datos) {
           
                $("#dllSubEstadoCbModalImp2").html("");
                $("#dllSubEstadoCbModalImp2").append($("<option>").val("-1").html("Seleccione...").data("id", "-1").data("nombre", "Seleccione..."));
                $.each(datos, function (i, estado) {

                    $("#dllSubEstadoCbModalImp2").append($("<option>").val(estado.Id).html(estado.Nombre).data("id", estado.Id).data("nombre", estado.Nombre));
                });

            });
        },
        CargaComboSubEstadosNoDeclaradas: function (IdSubPadre) {
           
            $.SecGetJSON(BASE_URL + "/motor/api/CobranzaPrevisional/lista-subMenu-2", { IdSubPadre }, function (datos) {
                
                $("#dllSubEstadoCbModalDec2").html("");
                $("#dllSubEstadoCbModalDec2").append($("<option>").val("-1").html("Seleccione...").data("id", "-1").data("nombre", "Seleccione..."));
                $.each(datos, function (i, estado) {
                 
                    $("#dllSubEstadoCbModalDec2").append($("<option>").val(estado.Id).html(estado.Nombre).data("id", estado.Id).data("nombre", estado.Nombre));
                });

            });
        },
    }

    function formatoFecha(value, row, index) {
       
        if (value != null) {
            return value.toFecha();
        }

    }

    //----------------DROP ZONE Diferencia cotizacion

    Dropzone.autoDiscover = false;
    var myDropzone = new Dropzone("div#dzMain", {
        url: "#",
        maxFiles: 1,
        uploadMultiple: false,
        maxFilesize: 15,
        acceptedFiles: '.csv',

    });
    myDropzone.on("addedfile", function (file) {
        document.getElementById("overlay").style.display = "block";
    });

    myDropzone.on("complete", function (file) {

        var hoy = new Date();
        var periodo = (hoy.getMonth() + 1).toString().paddingLeft("00") + hoy.getFullYear().toString();
        document.getElementById("overlay").style.display = "none";
        myDropzone.removeFile(file);
        $('#md-carga-Datos').modal('hide');

        let mensajeValidacion = ""

        if ($('#radio-diferencias-actualizar-carga').prop('checked')) {
            mensajeValidacion = "Al realizar una nueva carga se reemplazarán los datos actuales. La información actual quedará en una tabla histórica.";
        }

        if ($('#radio-diferencias-nueva-carga').prop('checked')) {
            mensajeValidacion = "Al actualizar la carga se modifican los datos actuales y se agregan registros de empresas no cargados anteriormente.";

        }


        bootbox.confirm({
            size: "medium",
            title: "Validación de Informe Correcta",
            message: `${mensajeValidacion}`,
            buttons: {
                confirm: {
                    label: 'Si, estoy seguro/a ',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'No, no estoy seguro/a',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
             
                var tipoProceso = "";
                if ($('#radio-diferencias-actualizar-carga').prop('checked') == true) {
                    tipoProceso = "Actualizar";
                } else {
                    tipoProceso = "Nueva";
                }


                if (result) {
                    var WebProceso = {
                        Codigo: 1,
                        Token: getCookie("Token"),
                        TipoProceso: tipoProceso
                    }

                    $.SecPostJSON(BASE_URL + "/motor/api/CobranzaPrevisional/proceso-carga-diferencias", WebProceso, function (respuesta) {

                        $.niftyNoty({
                            type: 'success',
                            icon: 'pli-like-2 icon-2x',
                            message: 'Informe Diferencia Cotizaciones Cargado Correctamente.',
                            container: 'floating',
                            timer: 3000,
                            onHidden: function () {
                                carga.cargaListaResumen(1, "Todas");
                            }
                        });
                    });

                }
            }
        });

    });

    myDropzone.on("error", function (file, response) {

        document.getElementById("overlay").style.display = "none";
        myDropzone.removeFile(file);
        $('#md-carga-Datos').modal('hide');

        if (response == "You can't upload files of this type.") {
            $.niftyNoty({
                type: 'danger',
                message: '<strong>Error..</strong><li>El Archivo debe tener formato csv</li>',
                container: 'floating',
                timer: 4000
            });
        } else {
            $.niftyNoty({
                type: 'danger',
                message: `<strong>Error..</strong>${response.Message}`,
                container: 'floating',
                timer: 10000
            });
        }


    });


    //----------------DROP ZONE cotizacon Impagas

    Dropzone.autoDiscover = false;
    var myDropzoneImpagas = new Dropzone("div#dzMainImpagas", {
        url: "#",
        maxFiles: 1,
        uploadMultiple: false,
        maxFilesize: 15,
        acceptedFiles: '.csv'
    });
    myDropzoneImpagas.on("addedfile", function (file) {
        document.getElementById("overlay").style.display = "block";
    });

    myDropzoneImpagas.on("complete", function (file) {
     
        var hoy = new Date();
        var periodo = (hoy.getMonth() + 1).toString().paddingLeft("00") + hoy.getFullYear().toString();
        document.getElementById("overlay").style.display = "none";
        myDropzoneImpagas.removeFile(file);
        $('#md-carga-Datos-cot-impagas').modal('hide');


        let mensajeValidacion = ""

        if ($('#radio-cot-impagas-actualizar-carga').prop('checked')) {
            mensajeValidacion = "Al realizar una nueva carga se reemplazarán los datos actuales. La información actual quedará en una tabla histórica.";
        }

        if ($('#radio-cot-impagas-nueva-carga').prop('checked')) {
            mensajeValidacion = "Al actualizar la carga se modifican los datos actuales y se agregan registros de empresas no cargados anteriormente.";

        }


        bootbox.confirm({
            size: "medium",
            title: "Validación Correcta",
            message: `${mensajeValidacion}`,
            buttons: {
                confirm: {
                    label: 'Si, estoy seguro/a ',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'No, no estoy seguro/a',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
              
                var tipoProceso = "";
                if ($('#radio-cot-impagas-actualizar-carga').prop('checked') == true) {
                    tipoProceso = "Actualizar";
                } else {
                    tipoProceso = "Nueva";
                }
                if (result) {
                    var WebProceso = {
                        Codigo: 2,
                        Token: getCookie("Token"),
                        TipoProceso : tipoProceso
                    }
                  
                    $.SecPostJSON(BASE_URL + "/motor/api/CobranzaPrevisional/proceso-carga-datos-cot-impagas", WebProceso, function (respuesta) {

                        $.niftyNoty({
                            type: 'success',
                            icon: 'pli-like-2 icon-2x',
                            message: 'Informe Cotizaciones Impagas Cargado Correctamente.',
                            container: 'floating',
                            timer: 3000,
                            onHidden: function () {
                                carga.cargaListaResumenCotImpagas(2, "Todas");
                            }
                        });
                    });

                }
            }
        });

    });

    myDropzoneImpagas.on("error", function (file, response) {

        document.getElementById("overlay").style.display = "none";
        myDropzoneImpagas.removeFile(file);
        $('#md-carga-Datos-cot-impagas').modal('hide');
        if (response == "You can't upload files of this type.") {
            $.niftyNoty({
                type: 'danger',
                message: '<strong>Error..</strong><li>El Archivo debe tener formato csv</li>',
                container: 'floating',
                timer: 4000
            });
        } else {
            
            $.niftyNoty({
                type: 'danger',
                message: `<strong>Error..</strong>${response.Message}`,
                container: 'floating',
                timer: 10000
            });
        }
    });



    //----------------DROP ZONE cotizacon No declaradas

    Dropzone.autoDiscover = false;
    var myDropzoneNoDeclaradas = new Dropzone("div#dzMainNodeclaradas", {
        url: "#",
        maxFiles: 1,
        uploadMultiple: false,
        maxFilesize: 15,
        acceptedFiles: '.csv'
    });
    myDropzoneNoDeclaradas.on("addedfile", function (file) {
        document.getElementById("overlay").style.display = "block";
    });

    myDropzoneNoDeclaradas.on("complete", function (file) {
    
        var hoy = new Date();
        var periodo = (hoy.getMonth() + 1).toString().paddingLeft("00") + hoy.getFullYear().toString();
        document.getElementById("overlay").style.display = "none";
        myDropzoneNoDeclaradas.removeFile(file);
        $('#md-carga-Datos-no-declaradas').modal('hide');

        
        let mensajeValidacion = ""

        if ($('#radio-no-declaradas-actualizar-carga').prop('checked')) {
            mensajeValidacion = "Al realizar una nueva carga se reemplazarán los datos actuales. La información actual quedará en una tabla histórica.";
        }

        if ($('#radio-no-declaradas-nueva-carga').prop('checked')) {
            mensajeValidacion = "Al actualizar la carga se modifican los datos actuales y se agregan registros de empresas no cargados anteriormente.";

        }


        bootbox.confirm({
            size: "medium",
            title: "Validación Correcta",
            message: `${mensajeValidacion}`,
            buttons: {
                confirm: {
                    label: 'Si, estoy seguro/a ',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'No, no estoy seguro/a',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
               
                var tipoProceso = "";
                if ($('#radio-no-declaradas-actualizar-carga').prop('checked') == true) {
                    tipoProceso = "Actualizar";
                } else {
                    tipoProceso = "Nueva";
                }
                if (result) {
                    var WebProceso = {
                        Codigo: 3,
                        Token: getCookie("Token"),
                        TipoProceso: tipoProceso
                    }
                    
                    $.SecPostJSON(BASE_URL + "/motor/api/CobranzaPrevisional/proceso-carga-no-declaradas", WebProceso, function (respuesta) {

                        $.niftyNoty({
                            type: 'success',
                            icon: 'pli-like-2 icon-2x',
                            message: 'Informe Cotizaciones No Declaradas Cargado Correctamente.',
                            container: 'floating',
                            timer: 3000,
                            onHidden: function () {
                                carga.cargaListaResumenNoPagadas(3, "Todas");
                            }
                        });
                    });

                }
            }
        });

    });

    myDropzoneNoDeclaradas.on("error", function (file, response) {

        document.getElementById("overlay").style.display = "none";
        myDropzoneNoDeclaradas.removeFile(file);
        $('#md-carga-Datos-no-declaradas').modal('hide');
        if (response == "You can't upload files of this type.") {
            $.niftyNoty({
                type: 'danger',
                message: '<strong>Error..</strong><li>El Archivo debe tener formato csv</li>',
                container: 'floating',
                timer: 4000
            });
        } else {
            $.niftyNoty({
                type: 'danger',
                message: `<strong>Error..</strong>${response.Message}`,
                container: 'floating',
                timer: 4000
            });
        }
    });



    $(function () {


        carga.ValidaUsuarioCarga();



        $('#dllSubEstadoCbModal').on('change', function (event) {
            

            if ($('#dllSubEstadoCbModal').val() == 103 || $('#dllSubEstadoCbModal').val() == 106) {
                $('#divSubEstado2').css('display', 'block');
                carga.CargaComboSubEstados($('#dllSubEstadoCbModal').val());

            }
            else {
                $('#divSubEstado2').css('display', 'none');
            }
           
        });

        $('#dllSubEstadoCbModalImp').on('change', function (event) {
            

            if ($('#dllSubEstadoCbModalImp').val() == 103 || $('#dllSubEstadoCbModalImp').val() == 106) {
                $('#divImpagasSubEstado2').css('display', 'block');
                carga.CargaComboSubEstadosImpagas($('#dllSubEstadoCbModalImp').val());

            }
            else {
                $('#divImpagasSubEstado2').css('display', 'none');
            }

        });


        $('#dllSubEstadoCbModalDec').on('change', function (event) {
            

            if ($('#dllSubEstadoCbModalDec').val() == 103 || $('#dllSubEstadoCbModalDec').val() == 106) {
                $('#divDecSubEstado2').css('display', 'block');
                carga.CargaComboSubEstadosNoDeclaradas($('#dllSubEstadoCbModalDec').val());

            }
            else {
                $('#divDecSubEstado2').css('display', 'none');
            }

        });


        



        //---carga lista resumen
        carga.cargaListaResumen(1, "Todas");
        carga.cargaListaResumenCotImpagas(2, "Todas");
        carga.cargaListaResumenNoPagadas(3, "Todas");


        //---------Diferencias de Cotizaciones---------

        $('#radio-diferencias-actualizar-carga').on('change', function (event) {
            if ($('#radio-diferencias-actualizar-carga').prop('checked')) {
                $('#radio-diferencias-actualizar-carga').prop("checked", true);
                $('#radio-diferencias-nueva-carga').prop("checked", false);
            }
        });

        $('#radio-diferencias-nueva-carga').on('change', function (event) {
            if ($('#radio-diferencias-nueva-carga').prop('checked')) {
                $('#radio-diferencias-actualizar-carga').prop("checked", false);
                $('#radio-diferencias-nueva-carga').prop("checked", true);
            }
        });


        $('#md-carga-Datos').on('show.bs.modal', function (event) {
   
            if ($('#radio-diferencias-actualizar-carga').prop('checked') == false && $('#radio-diferencias-nueva-carga').prop('checked') == false) {

                $.niftyNoty({
                    type: 'danger',
                    message: `<strong>Error..</strong><li>Debe seleccionar tipo de carga Nueva o Actualizar</li>`,
                    container: 'floating',
                    timer: 4000
                });
                $('#radio-diferencias-nueva-carga').focus();
                return false;

            }
            /* if ($('#radio-diferencias-actualizar-carga').prop('checked') == true) {
                 $.SecGetJSON(BASE_URL + "/motor/api/CobranzaPrevisional/valida-mes-contable-cargado-activo", { Proceso: 1, Estado: 'Activo' }, function (datos) {
                     debugger;
                     if (datos == 0) {
                         $.niftyNoty({
                             type: 'danger',
                             message: `<strong>Error..</strong><li>No puede actualizar Informe, debe realizar una nueva carga</li>`,
                             container: 'floating',
                             timer: 4000
                         });
                         $('#md-carga-Datos').modal('hide');
                         $('#radio-diferencias-nueva-carga').focus();
                         return false;

                     }
                 });

             }*/

            let eventocarga = event.relatedTarget.id;

            let tipoProceso = "";
            if ($('#radio-diferencias-nueva-carga').prop('checked') == true) {
                tipoProceso = 'Nueva';
            } else {
                tipoProceso = 'Actualiza';
            }
            myDropzone.options.url = "/motor/api/CobranzaPrevisional/carga-datos-dropzone-diferencias/" + tipoProceso;
        });

      

        $('#modal_cobranza').on('show.bs.modal', function (event) {
            $("#divSubEstado2").css("display", "none");
            $("#dllSubEstadoCbModal2").val(-1);
        });

         //--------Cotizaciones Impagas------------------

        
        $('#modal_impagas').on('show.bs.modal', function (event) {
            $("#divImpagasSubEstado2").css("display", "none");
            $("#dllSubEstadoCbModalImp2").val(-1);
        });
        
        $('#radio-cot-impagas-actualizar-carga').on('change', function (event) {
            if ($('#radio-cot-impagas-actualizar-carga').prop('checked')) {
                $('#radio-cot-impagas-actualizar-carga').prop("checked", true);
                $('#radio-cot-impagas-nueva-carga').prop("checked", false);
            }
        });

        $('#radio-cot-impagas-nueva-carga').on('change', function (event) {
            if ($('#radio-cot-impagas-nueva-carga').prop('checked')) {
                $('#radio-cot-impagas-actualizar-carga').prop("checked", false);
                $('#radio-cot-impagas-nueva-carga').prop("checked", true);
            }
        });


        $('#md-carga-Datos-cot-impagas').on('show.bs.modal', function (event) {

            if ($('#radio-cot-impagas-actualizar-carga').prop('checked') == false && $('#radio-cot-impagas-nueva-carga').prop('checked') == false) {

                $.niftyNoty({
                    type: 'danger',
                    message: `<strong>Error..</strong><li>Debe seleccionar tipo de carga Nueva o Actualizar</li>`,
                    container: 'floating',
                    timer: 4000
                });
                $('#radio-cot-impagas-nueva-carga').focus();
                return false;
            }

            let tipoProceso = "";
            if ($('#radio-cot-impagas-nueva-carga').prop('checked') == true) {
                tipoProceso = 'Nueva';
            } else {
                tipoProceso = 'Actualiza';
            }

            let eventocarga = event.relatedTarget.id;
            myDropzoneImpagas.options.url = "/motor/api/CobranzaPrevisional/carga-datos-dropzone-cot-impagas/" + tipoProceso;

        });


        //----------Cotizaciones No Declaradas-----------

        $('#radio-no-declaradas-actualizar-carga').on('change', function (event) {
            if ($('#radio-no-declaradas-actualizar-carga').prop('checked')) {
                $('#radio-no-declaradass-actualizar-carga').prop("checked", true);
                $('#radio-no-declaradas-nueva-carga').prop("checked", false);
            }
        });

        $('#radio-no-declaradas-nueva-carga').on('change', function (event) {
            if ($('#radio-no-declaradas-nueva-carga').prop('checked')) {
                $('#radio-no-declaradas-actualizar-carga').prop("checked", false);
                $('#radio-no-declaradas-nueva-carga').prop("checked", true);
            }
        });

        $('#md-carga-Datos-no-declaradas').on('show.bs.modal', function (event) {

            if ($('#radio-no-declaradas-actualizar-carga').prop('checked') == false && $('#radio-no-declaradas-nueva-carga').prop('checked') == false) {

                $.niftyNoty({
                    type: 'danger',
                    message: `<strong>Error..</strong><li>Debe seleccionar tipo de carga Nueva o Actualizar</li>`,
                    container: 'floating',
                    timer: 4000
                });
                $('#radio-no-declaradas-nueva-carga').focus();
                return false;
            }

            let tipoProceso = "";
            if ($('#radio-no-declaradas-nueva-carga').prop('checked') == true) {
                tipoProceso = 'Nueva';
            } else {
                tipoProceso = 'Actualiza';
            }

            let eventocarga = event.relatedTarget.id;
            myDropzoneNoDeclaradas.options.url = "/motor/api/CobranzaPrevisional/carga-datos-dropzone-no-declaradas/" + tipoProceso;

        });

        $('#modal_declarada').on('show.bs.modal', function (event) {
            $("#divDecSubEstado2").css("display", "none");
            $("#dllSubEstadoCbModalDec2").val(-1);
        });

     



    });



</script>